<!--Footer-->
  <div class="footer" style="background-color:{{section.settings.bg}};{% if section.settings.image != blank %} background-image:url('{{section.settings.image | img_url:"1920x682"}}'); background-position:center center; {% endif %}">  
      <div class="main-footer">
        <div class="container">
        	<div class="row">
          {%- for block in section.blocks -%}
              <div class="col-lg-{{block.settings.cl}} col-md-{{block.settings.cl_tb}} col-{{block.settings.cl_mb}}" {{ block.shopify_attributes }}>
                  {%- case block.type -%}
                     {%- when 'logo' -%}
                      {%- assign image = block.settings.image -%}
                          <aside id="block_{{block.id}}" class="widget widget_text widget_logo">
                             
                              {%- assign image = block.settings.footer_logo -%}
                              {%- if image != blank -%}
                                <div class="footer-logo-wrap">
                                  <a class="db" href="/">
                                    {%- assign lg_w = block.settings.logo_width -%}
                                    {% capture image_size %}{{ lg_w | escape }}x{% endcapture %}
                                    {%- assign img_url = image | img_url: image_size -%}
                                    <img class="lazyload " src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ img_url }}" alt="{{ image.alt | default: shop.name | escape}}" style="max-width: {{ lg_w }}px; width:auto; height:auto; ">
                                  </a>
                                </div>
                              {% else %}              
                                 {%- if block.settings.title != blank -%}<h3 class="widget-title{% if image != blank %} dn_md{% endif %}"><span class="txt_title">{{block.settings.title}}</span></h3>{%- endif -%}
                              {%- endif -%}
                            
                        
                             <div class="textwidget widget_footer">
                                <div class="footer-contact">                                   	
                                   {{- block.settings.content -}}                                   
                                </div>
                             </div>
                          </aside>
                     {%- when 'mail' -%}
						<aside id="block_{{block.id}}" class="widget widget_text widget_mail">
                         {%- if block.settings.title != blank -%}<h3 class="widget-title{% if image != blank %} dn_md{% endif %}"><span class="txt_title">{{block.settings.title}}</span></h3>{%- endif -%}
                             <div class="textwidget widget_footer {{block.settings.news_style}}">
                               {% if block.settings.sub_title %}
                               <div class="text-email">
                               	{{block.settings.sub_title}}
                               </div>
                               {% endif %}
                                <div class="footer-mail">                                   	
									{%- form 'customer', class:'newsletter-form-footer' -%}
									<input type="hidden" name="contact[tags]" value="newsletter">
									<div class="mc4wp-form-fields">
									  <div class="signup-newsletter-form  {{class}}">
										<div class="col_email"><input type="email" name="contact[email]" placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"  value="{% if customer %}{{ customer.email }}{% endif %}" class="{{class_ip}} input-text" required="required"></div>
										<div class="col-auto">
                                          <button type="submit" class="submit-btn truncate{% if settings.checkbox_mail %} mail_agree pr{% endif %}">
                                            <span> 
                                              	{{ 'general.newsletter_form.submit' | t }} 
                                              	{% if block.settings.btn_icon %}
                                             	 <i class="fa fa-paper-plane"> </i>
                                              	{% endif %}
                                            </span>
                                          </button>
                                        </div>
									  </div>
									  {%- if settings.checkbox_mail -%}{%- render 'conditions_mail',html:'p',margin:'mt__15',stt_link:settings.link_mail,sid:sid -%}{%- endif -%}
									</div>
									<div class="mc4wp-response">
									  {%- if form.posted_successfully? -%}<div class="shopify-message"><i class="las la-check"></i>{{ 'general.newsletter_form.confirmation' | t }}</div>{%- elsif form.errors -%}<div class="shopify-error"><i class="las la-exclamation-triangle"></i>{{ form.errors | default_errors }}</div>{%- endif -%}
									</div>
									{%- endform -%}								
                                </div>
                             </div>
                          	    <div class="social-footer-wrap">
                                {% if block.settings.footer_use_social_link %}
                                <ul class="list-socials">
                                  {% if settings.footer_social_twitter_enable %}
                                  <li>
                                    <a class="twitter" target="_blank" href="{{settings.footer_social_twitter_link}}" title="{{settings.footer_social_twitter_text}}"><i class="fa fa-twitter"></i></a>
                                  </li>
                                  {% endif %}
                                  {% if settings.footer_social_facebook_enable %}
                                  <li>
                                    <a class="facebook" target="_blank" href="{{settings.footer_social_facebook_link}}" title="{{settings.footer_social_facebook_text}}"><i class="fa fa-facebook"></i></a>
                                  </li>
                                    {% endif %}
                                    {% if settings.footer_social_google_enable %}
                                  <li>
                                    <a class="google" target="_blank" href="{{settings.footer_social_google_link}}" title="{{settings.footer_social_google_text}}"><i class="fa fa-google-plus"></i></a>
                                  </li>
                                  {% endif %}
                                  {% if settings.footer_social_pinterest_enable %}
                                  <li>
                                    <a class="pinterest" target="_blank" href="{{settings.footer_social_pinterest_link}}" title="{{settings.footer_social_pinterest_text}}"><i class="fa fa-pinterest-p"></i></a>
                                  </li>
                                  {% endif %}
                                  {% if settings.footer_social_instargram_enable %}
                                  <li>
                                    <a class="instagram" target="_blank" href="{{settings.footer_social_instargram_link}}" title="{{settings.footer_social_instargram_text}}"><i class="fa fa-instagram"></i></a>
                                  </li>
                                  {% endif %}

                                  {% if settings.footer_social_tumblr_enable %}
                                  <li>
                                    <a class="tumblr" target="_blank" href="{{settings.social_tumblr_link}}" title="{{settings.footer_social_tumblr_text}}"><i class="fa fa-tumblr-square"></i></a>
                                  </li>
                                  {% endif %}
                                  {% if settings.footer_social_snapchat_enable %}
                                  <li>
                                    <a class="tumblr" target="_blank" href="{{settings.social_snapchat_link}}" title="{{settings.footer_social_snapchat_text}}"><i class="fa fa-snapchat-ghost"></i></a>
                                  </li>
                                  {% endif %}
                                  {% if settings.footer_social_youtube_enable %}
                                  <li>
                                    <a class="tumblr" target="_blank" href="{{settings.social_youtube_link}}" title="{{settings.footer_social_youtube_text}}"><i class="fa fa-youtube-square"></i></a>
                                  </li>
                                  {% endif %}
                                  {% if settings.footer_social_vimeo_enable %}
                                  <li>
                                    <a class="tumblr" target="_blank" href="{{settings.social_vimeo_link}}" title="{{settings.footer_social_vimeo_text}}"><i class="fa fa-vimeo "></i></a>
                                  </li>
                                  {% endif %}
                                </ul>
                                {% endif %}
                              </div>
                          
                          </aside>
                     {%- when 'payment' -%}
                          <aside id="block_{{block.id}}" class="widget widget_text">
                             {%- if block.settings.title != blank -%}<h3 class="widget-title"><span class="txt_title">{{block.settings.title}}</span></h3>{%- endif -%}
                             <div class="textwidget widget_footer newl_des_{{block.settings.newl_des}}">
                                <p>{{block.settings.sub_title}}</p>
                                
                                <ul class="list-payment">
                                  {% if block.settings.payment1 != blank %}
                                  	{% assign image1 = block.settings.payment1 | img_url:"1920x"%}
                                  {% else %}
                                  	{% assign image1 = 'image-payment1.png' | asset_url%}
                                  {% endif %}
                                  {% if block.settings.payment2 != blank %}
                                  	{% assign image2 = block.settings.payment2 | img_url:"1920x"%}
                                  {% else %}
                                  	{% assign image2 = 'image-payment2.png' | asset_url%}
                                  {% endif %}
                                  {% if block.settings.payment3 != blank %}
                                  	{% assign image3 = block.settings.payment3 | img_url:"1920x"%}
                                  {% else %}
                                  	{% assign image3 = 'image-payment3.png' | asset_url%}
                                  {% endif %}
                                  {% if block.settings.payment4 != blank %}
                                  	{% assign image4 = block.settings.payment4 | img_url:"1920x"%}
                                  {% else %}
                                  	{% assign image4 = 'image-payment4.png' | asset_url%}
                                  {% endif %}
                                 
                                  <li><a href="#"><img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" height="20" data-src="{{ image1 }}" style="width:auto;" alt="footer" /></a>
                                  <li><a href="#"><img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" height="20" data-src="{{ image2 }}" style="width:auto;" alt="footer" /></a>
                                  <li><a href="#"><img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" height="20" data-src="{{ image3 }}" style="width:auto;" alt="footer"/></a>
                                  <li><a href="#"><img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" height="20" data-src="{{ image4 }}" style="width:auto;" alt="footer"/></a>
                               </ul>
                             </div>
                          </aside>
                  {%- when 'collection' -%}
                      {%- liquid
                       assign on_sale_txt = 'products.product.on_sale' | t
                       assign save_js = 'products.product.save_js' | t: saved_amount:'saved_amount' -%}
                      <aside id="block_{{block.id}}" class="widget widget_product_list">
                        {%- if block.settings.title != blank -%}<h3 class="widget-title"><span class="txt_title">{{block.settings.title}}</span></h3>{%- endif -%}
                         {%- if block.settings.collection == blank -%}
                            <p>{{ 'homepage.onboarding.no_content' | t }}</p>
                         {%- else -%}
                         <div class="widget_footer product_list_widget">
                            {%- for product in collections[block.settings.collection].products limit: block.settings.limit -%}
                               {%- render 'pr_group_loop',product:product,c:collections[block.settings.collection],on_sale_txt:on_sale_txt,save_js:save_js -%}
                            {%- endfor -%}
                         </div>
                         {%- endif -%}
                      </aside>
                  {%- when 'post' -%}{%- assign date = block.settings.date -%}
                      <aside id="block_{{block.id}}" class="widget widget_post_list">
                        {%- if block.settings.title != blank -%}<h3 class="widget-title"><span class="txt_title">{{block.settings.title}}</span></h3>{%- endif -%}
                         {%- if block.settings.blog == blank -%}
                            <p>{{ 'homepage.onboarding.no_content' | t }}</p>
                         {%- else -%}
                         <div class="widget_footer post_list_widget">
                            {%- for article in blogs[block.settings.blog].articles limit: block.settings.limit -%}
                               {%- render 'ar_group_loop', article:article, date:date -%}
                            {%- endfor -%}
                         </div>
                         {%- endif -%}
                      </aside>
                  {%- when 'instagram' -%}{%- assign col = block.settings.col_pr -%}{%- assign col_tb = block.settings.col_pr_tb -%}{%- assign col_mb = block.settings.col_pr_mb -%}
                      <aside id="block_{{block.id}}" class="widget widget_instagram">
                        {%- if block.settings.title != blank -%}<h3 class="widget-title"><span class="txt_title">{{block.settings.title}}</span></h3>{%- endif -%}
                         <div class="widget_footer nt_instagram_wrap row equal_nt ins_spaces_{{block.settings.space}} ins_rounded_{{block.settings.rounded_ins}} nt_cover ratio1_1 position_8 js_nt_ist" data-id='{{col}}{{col_tb}}{{col_mb}}{{block.settings.limit}}{{block.settings.open_link}}' data-cl='{{col}}' data-cltb='{{col_tb}}' data-clmb='{{col_mb}}' data-acc='{{block.settings.acc2 | default:settings.global_acc}}' data-limit='{{block.settings.limit }}' data-target='{{block.settings.open_link}}'><div class="lds_bginfinity pr"></div></div>
                      </aside>
				  {%- when 'text' -%}
                          <aside id="block_{{block.id}}" class="widget widget_text">
                             {%- if block.settings.title != blank -%}<h3 class="widget-title"><span class="txt_title">{{block.settings.title}}</span></h3>{%- endif -%}
                             <div class="textwidget widget_footer">{{block.settings.content}}</div>
                          </aside>

                   {%- when 'html' -%}
                          <aside id="block_{{block.id}}" class="widget widget_text">
                             {%- if block.settings.title != blank -%}<h3 class="widget-title"><span class="txt_title">{{block.settings.title}}</span></h3>{%- endif -%}
                             <div class="textwidget widget_footer">{{block.settings.content}}</div>
                          </aside>

                    {%- else -%}
                          <aside id="block_{{block.id}}" class="widget widget_nav_menu">
                             {%- if block.settings.title != blank -%}<h3 class="widget-title"><span class="txt_title">{{block.settings.title}}</span></h3>{%- endif -%}
                             <div class="menu_footer widget_footer">
                              {%- assign menu = block.settings.menu -%}
                              {%- if menu != blank -%}
                                <ul class="menu">
                                  {%- for link in linklists[menu].links -%}
                                   <li class="menu-item{% if link.active %} current-menu-item{% endif %}"><a href="{{ link.url }}">{{ link.title | split: '[' | first }}</a></li>
                                   {%- endfor -%}
                                </ul>
                                {%- else -%}Pick a linked list to show here.
                                {%- endif -%}
                             </div>
                          </aside>

                  {%- endcase -%}
              </div>
              {%- endfor -%}
        </div>
        </div>
      </div>
      <div class="footer-note">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-auto col-lg-auto left-content">
              <div class="coppy-right">
                <h3 class="content">{{section.settings.footer_copyright_text}}</h3>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-auto col-lg-auto right-content">
              <div class="footer_paypal">
                <p class="text-payment pull-left">{{section.settings.text_Payment}}</p>
                <img src="{% if section.settings.image_Payment %}{{section.settings.image_Payment | img_url:"350x30"}}{%else%}https://placehold.jp/14/ff0000/fff/350x30.png?text=350x30+Image"{%endif%}" alt="Payment">
              </div>
            </div>
          </div>
      	</div>
      </div>
  </div>
<div class="apus-footer-mobile">    
    <ul>
      <li>
        <a href="/">
          <svg width="15px" viewBox="0 0 17 17"><path d="M14 16h-3v-6h-5v6h-3v-9h-1v10h13v-10h-1v9zM7 16v-5h3v5h-3zM16.796 6.473l-0.592 0.807-7.704-5.66-7.704 5.658-0.592-0.806 8.296-6.092 8.296 6.093z"/></svg>                      
          <span>{{'homepage.title' | t}}</span>
        </a>
      </li>
      <li>
        <a class="footer-search-btn header-search push_side" href="javascript:void(0)" data-id="#nt_search_canvass">
          <svg width="15px" viewBox="0 0 17 17"><path d="M16.604 15.868l-5.173-5.173c0.975-1.137 1.569-2.611 1.569-4.223 0-3.584-2.916-6.5-6.5-6.5-1.736 0-3.369 0.676-4.598 1.903-1.227 1.228-1.903 2.861-1.902 4.597 0 3.584 2.916 6.5 6.5 6.5 1.612 0 3.087-0.594 4.224-1.569l5.173 5.173 0.707-0.708zM6.5 11.972c-3.032 0-5.5-2.467-5.5-5.5-0.001-1.47 0.571-2.851 1.61-3.889 1.038-1.039 2.42-1.611 3.89-1.611 3.032 0 5.5 2.467 5.5 5.5 0 3.032-2.468 5.5-5.5 5.5z" /></svg>                      
          <span>{{'general.search.btn' | t}}</span>
        </a>
      </li>

      <li>
        <a class="footer-mini-cart mini-cart push_side header-icon" href="/cart" data-id="#js_nt_cart_canvas">
          <svg width="15px" viewBox="0 0 17 17"><path d="M13 4v-2.394c0-0.885-0.737-1.606-1.643-1.606h-5.699c-0.905 0-1.642 0.721-1.642 1.606v2.394h-3.016v13h15v-13h-3zM5.016 1.606c0-0.334 0.288-0.606 0.642-0.606h5.699c0.355 0 0.643 0.272 0.643 0.606v2.394h-6.984v-2.394zM15 16h-13v-8h13v8zM15 7h-13v-2h2.016v0.643h1v-0.643h6.984v0.643h1v-0.643h2v2z" /></svg>                      
          <span class="header__counter cart-count" data-js-cart-count="0"> 0 </span> 
          <span>{{'cart.general.title' | t}}</span>
        </a> 
      </li>

      <li>
        <a href="/account">
          <svg width="15px" viewBox="0 0 17 17"><path d="M17 16.488c-0.063-2.687-2.778-4.999-6.521-5.609v-1.374c0.492-0.473 0.842-1.207 1.071-1.833 0.332-0.166 0.624-0.536 0.794-1.033 0.238-0.688 0.146-1.323-0.206-1.629 0.028-0.238 0.046-0.481 0.015-0.723-0.079-0.663 0.065-1.038 0.194-1.368 0.106-0.277 0.229-0.591 0.106-0.945-0.442-1.273-1.727-1.974-3.618-1.974l-0.264 0.005c-1.313 0.047-1.707 0.6-1.971 1.115-0.033 0.062-0.077 0.146-0.077 0.151-1.712 0.153-1.697 1.569-1.684 2.707l0.003 0.369c0 0.205 0.009 0.419 0.026 0.639-0.425 0.3-0.504 1.005-0.179 1.737 0.185 0.415 0.452 0.729 0.749 0.892 0.243 0.674 0.625 1.47 1.179 1.965v1.283c-3.798 0.589-6.554 2.907-6.617 5.625l-0.012 0.512h17.023l-0.011-0.512zM1.054 16c0.392-2.094 2.859-3.821 6.122-4.204l0.441-0.052v-2.666l-0.216-0.15c-0.393-0.272-0.791-0.947-1.090-1.851l-0.083-0.281-0.294-0.051c-0.053-0.019-0.208-0.153-0.33-0.428-0.075-0.168-0.104-0.312-0.112-0.415l0.51 0.143-0.096-0.749c-0.042-0.33-0.064-0.651-0.064-0.95l-0.003-0.38c-0.015-1.341 0.051-1.634 0.773-1.699 0.545-0.048 0.752-0.449 0.876-0.689 0.15-0.292 0.28-0.543 1.12-0.574l0.227-0.004c0.829 0 2.279 0.169 2.669 1.282 0 0.043-0.052 0.177-0.090 0.275-0.145 0.374-0.364 0.939-0.254 1.853 0.024 0.188-0.007 0.424-0.040 0.675l-0.089 0.805 0.441-0.048c0.008 0.104-0.004 0.269-0.075 0.472-0.097 0.289-0.242 0.438-0.237 0.454h-0.36l-0.114 0.342c-0.283 0.853-0.65 1.497-1.009 1.768l-0.198 0.15v2.726l0.438 0.055c3.211 0.401 5.641 2.123 6.030 4.192h-14.893z" /></svg>                      
          <span>{{'customer.account.title' | t}}</span>
        </a> 
      </li>

    </ul>
  </div>
<!--/Footer-->