{% assign show_free_shipping = settings.show_free_shipping %}
{% if show_free_shipping %}
{% assign custom_color_free_shipping = settings.custom_color_free_shipping %}
{% assign bg_free_shipping = settings.bg_free_shipping %}
{% assign bg_free_shipping_progress = settings.bg_free_shipping_progress %}
{% assign f_shipping = settings.free_shipping | times: 100  %}
{%- assign free_shipping_range_quotient = f_shipping | times: 1.0 | divided_by: 100 -%}
{%- assign free_shipping_range_procent = cart.total_price | divided_by: free_shipping_range_quotient | at_most: 100 -%}
<div class="free-shipping js-free-shipping" data-value="{{f_shipping}}">
  <div class="free-shipping__progress" data-js-progress style="width: {{ free_shipping_range_procent }}%;"></div>
  <div class="free-shipping__text ">
    {%- assign free_shipping_spend = f_shipping | minus: cart.total_price | at_least: 0 -%}
    {% capture free_shipping_spend_html %}{{ free_shipping_spend | money }}{% endcapture %}
    {% capture free_shipping_spend_html %}{{ 'cart.general.free_shipping_html' | t: value: free_shipping_spend_html }}{% endcapture %}
    <div class="spend_html hidden">{{ free_shipping_spend_html }}</div>
    {% capture free_shipping_html %}{{ 'cart.general.free_shipping_complete' | t: value: free_shipping_html }}{% endcapture %}
    <div class="free_html hidden">{{ free_shipping_html }}</div>
    <div class="text"><span data-js-text>
      {% if free_shipping_spend > 0 %}
      	{{ free_shipping_spend_html }}
      {% else %}
      	{{ free_shipping_html }} 
      {% endif %}
      </span></div>
  </div>
</div>
{%if custom_color_free_shipping%}
<style>
  .free-shipping__progress{
    background-color:{{bg_free_shipping_progress}}
  }
  .free-shipping__text{
  	background-color:{{bg_free_shipping}}
  }
</style>
{%endif%}
{%endif%}