
<div class="minicart ">
  <div class="cart-block  box-has-content">
    <a href="/cart" class="push_side header-icon" data-id="#js_cart_popup" title="{{'cart.general.title' | t}}">
      <i class="icon-cart"></i>
      <span class="header__counter js-cart-count" data-js-cart-count="{{ cart.item_count }}">{{ cart.item_count }}</span>
      <span data-total-price class="total-price"><span class="text">{{'cart.general.title' |t}}: </span>
      <span class="js-total-price">
      {{ cart.total_price | money  }}
      </span>
    </span>
    </a>    
  </div>     
</div>