<div class="laber-social-link socials clearfix">
<ul class="list-socials ">
  {% if settings.footer_social_twitter_enable %}
  <li class="twitter">
    <a  target="_blank" href="{{settings.footer_social_twitter_link}}" title="{{settings.footer_social_twitter_text}}"><i class="fa fa-twitter"></i></a>
  </li>
  {% endif %}
  {% if settings.footer_social_facebook_enable %}
  <li class="facebook">
    <a  target="_blank" href="{{settings.footer_social_facebook_link}}" title="{{settings.footer_social_facebook_text}}"><i class="fa fa-facebook"></i></a>
  </li>
  {% endif %}
  {% if settings.footer_social_instargram_enable %}
  <li class="instagram">
    <a  target="_blank" href="{{settings.footer_social_instargram_link}}" title="{{settings.footer_social_instargram_text}}"><i class="fa fa-instagram"></i></a>
  </li>
  {% endif %}
</ul>
</div>