<!-- customers/login.liquid  -->
{% section 'breadcrumb' %}
<div class="main-content shop-page login-page">
  <div class="container">
    
    <div class="login-register-form content-form row pr_center ">
      <div class="note form-success hide" id="ResetSuccess" style="display:none;">
        {{ 'customer.recover_password.success' | t }}
      </div>
      <div class="cms-left col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <div class="switch-form" id="loginForm" >
        {% form 'customer_login', class:'login' %}        
        {{ form.errors | default_errors }}
        <div class="login-form">          
          <h4 class="main-title">{{'customer.login.log_in' | t}}</h4>
          
          <div class="box-label">
            <label>{{'customer.login.email' | t}} <span>*</span></label>
            <input
                   class="input-info {% if form.errors contains 'email' %} input--error{% endif %}"	
                   type="email"
                   name="customer[email]"
                   id="CustomerEmail"
                   autocomplete="email"
                   required="required"
                   autocorrect="off"
                   autocapitalize="off"
                   {% if form.errors contains 'form' %}
                   aria-invalid="true"
                   {% endif %}
                   placeholder="{{ 'customer.login.email' | t }}"
                   >
          </div>
            {% if form.password_needed %}      
          	<div class="box-label">
            <label>{{'customer.login.password' |t}} <span>*</span></label>
             <input
                    class="input-info {% if form.errors contains 'password' %} input--error{% endif %}"
                     type="password"
                     value=""
                    required="required"
                     name="customer[password]"
                     id="CustomerPassword"
                     autocomplete="current-password"
                     {% if form.errors contains 'form' %}
                     aria-invalid="true"
                     {% endif %}
                     placeholder="{{ 'customer.login.password' | t }}"
                     >
          </div>
          {% endif %}
         
          <div class="check-box">            
            <input class="login-check" type="checkbox" id="login-check" name="rememberme" value="forever" ><label class="text-label" for="login-check">{{ 'customer.login.remember_me' | t }}</label>	
            {% if form.password_needed %}
            	<a href="#recoverPassword" class="switch-button recoverPassword forgot">{{ 'customer.login.forgot_password' | t }}</a>
            {% endif %}
          </div>
          <div class="group-button">            
            <input type="submit" class="button submit" name="login" value="{{ 'customer.login.sign_in' | t }}"/>
            
          </div>
          <p class="or"><span>{{'customer.register.or' | t}}</span></p>
          <div class="register_submit">
              <a href="/account/register" >
                {{'customer.register.submit' | t}}
              </a>
            </div>
          
        </div>
        {% endform %}
        </div>
    
          <div id="recoverPassword" class="switch-form hidden">
            <div class="text-center">
              <h4 class="main-title" style="text-align:left;">{{ 'customer.recover_password.title' | t }}</h4>
              <p style="text-align:left;">{{ 'customer.recover_password.subtext' | t }}</p>
            </div>
            <div class="form-vertical">
              {% form 'recover_customer_password' %}

              {{ form.errors | default_errors }}

              {% comment %}
              Add a hidden span to indicate the form was submitted succesfully.
              {% endcomment %}
              {% if form.posted_successfully? %}
              	<span class="hide reset-password-success"></span>
              {% endif %}
			  <div class="box-label">
                
              		<label>{{ 'customer.recover_password.email' | t }}<span class="required">*</span></label>
              		<input  type="email" value="" name="email" placeholder={{'customer.recover_password.placeholder' | t}} id="RecoverEmail" class="input-info" required>
              </div>
              
              <div class="group-button">
                <input  type="submit" class="button submit" value="{{ 'customer.recover_password.submit' | t }}"> 
              </div>
              <a href="#loginForm" class="loginForm switch-button" class="button submit">{{ 'customer.recover_password.cancel' | t }}</a>
              {% endform %}
            </div>
          </div>
          
          {% comment %}
            If accounts are set as optional, the following will be shown as an option
            during checkout, not on the default /login page.
            {% endcomment %}
            {% if shop.checkout.guest_login %}
            <div class="text-center">
              <hr class="hr--invisible">
              <h2>{{ 'customer.login.guest_title' | t }}</h2>

              {% form 'guest_login' %}
              <input type="submit" class="submit button" value="{{ 'customer.login.guest_continue' | t }}">
              {% endform %}
            </div>
            {% endif %}
    
      </div>
      
      {%comment%}
      <div class="cms-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
        {% form 'create_customer', class:'register' %}
        {{ form.errors | default_errors }}
        <div class="register-form">
          <h4 class="main-title">{{ 'customer.register.title' | t }}</h4>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <span class="label-text">{{'customer.register.first_name' | t}} <span>*</span></span>              
              <input type="text" required id="reg_first_name" class="input-info {% if form.errors contains 'first_name' %} input--error{% endif %}" name="customer[first_name]" {% if form.email %} value="{{ form.first_name }}"{% endif %}/>
            </div>     
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <span class="label-text">{{ 'customer.register.middle_name' | t }}</span>
              <input type="text" class="input-info">	
            </div>
          </div>
          <span class="label-text">{{'customer.register.last_name' |t}} <span>*</span></span>
          <input type="text" id="reg_last_name" required class="input-info {% if form.errors contains 'last_name' %} input--error{% endif %}" name="customer[last_name]" {% if form.email %} value="{{ form.last_name }}"{% endif %}/>	
          <span class="label-text">{{'customer.register.email' | t}} <span>*</span></span>          
          <input type="email" id="reg_email" required class="input-info {% if form.errors contains 'email' %} input--error{% endif %}" name="customer[email]" {% if form.email %} value="{{ form.email }}"{% endif %}/>
          
          <h5 class="title">{{'customer.register.sub_title' |t}}</h5>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <span class="label-text">{{'customer.register.password' | t}} *</span>              
              <input type="password" required name="customer[password]" id="createPassword" class="input-info{% if form.errors contains 'password' %} input--error{% endif %}">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <span class="label-text">{{ 'customer.reset_password.password_confirm' | t }} *</span>              
              <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="input-info {% if form.errors contains 'password_confirmation' %} input--error{% endif %}">
            </div>
          </div>
          <div class="group-button">            
            <input type="submit" class="button submit" value="{{ 'customer.register.submit' | t }}"/>
          </div>		
        </div>
        {% endform %}
      </div>
      {%endcomment%}
      
    </div>
  </div>

</div>    

<script type="text/javascript">
  (function($) {
    'use strict';
    $(document).ready(function($) {
      var hashId = window.location.hash;
      if(hashId){
        console.log(hashId);
        $('.switch-form').addClass('hidden');
        $(hashId).removeClass('hidden');
        if (hashId == '#recover'){
          $('.loginForm').removeClass('hidden');
          $('.recoverPassword').addClass('hidden');
          $('.content-form .note').removeClass('hide');
        }
      }
      $('.switch-button').click(function() {
         $('.switch-form').addClass('hidden');
         $($(this).attr('href')).removeClass('hidden');
      });
      
    });
  })(jQuery);
  
</script>