{% liquid
  assign sid = section.id 
%}
   
{%- for i in (1..1) -%}
{%- if section.settings.hidden %}{% break %}{% endif -%}
{% assign bg = section.settings.large_banner %}   
{% assign bg_color = section.settings.bg_color %}

<section class="laber_{{sid}}" 
  
  style="
   {% if bg_color != blank %} background-color:{{bg_color}};{%endif%}
   {% if bg != blank %}     
   background-image: url({{ bg | img_url: '1920x' }});
   background-repeat: no-repeat; background-position: center center;
   {%endif%}
    "     
  >       
  <div class="container {% if section.settings.layout == "full-width"%}{{section.settings.layout}}{% endif %}">
    
    
    <div class="section_content ">      
      <div class="part" >
       <div class="container">
        <div class="row">
            <div class="laber-about-us about-left col-md-7">               
              {% if section.settings.sub_title != blank %}    
              	
                  <div class="section-subtitle">
                    {{section.settings.sub_title}}
              		</div>
                  {% endif %} 
              {% if section.settings.title != blank %}              	
                <h3 class="section-title">   
                  <span>
                  {{section.settings.title}}                    
                  </span>
                </h3>
              {% endif %}
              <div class="desc">
              	<p>{{section.settings.desc}}</p>   
              </div>  
              
              <div class="founder">	
              	{{section.settings.founder}}
              </div>
            </div>
            <div class="about-right col-sm-5">
            	{% assign banner1 = section.settings.small_banner %}
                <div class="images">
                  <img class="lazyload" data-src="{% if banner1 != blank %}{{ banner1 | img_url: '744x558' }}{% else %}https://placehold.jp/30/f3f3f3/222/744x558.png?text=744x558{% endif %}" style="width:100%; height:auto" alt=""/>
                </div> 
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>
</section>
{%- endfor -%}
{% style%}
{% assign mg_top = section.settings.mg_top %}
{% assign mg_bottom = section.settings.mg_bottom %}
{% assign pd_top = section.settings.pad_top %}
{% assign pd_bottom = section.settings.pad_bottom %}
{% assign mobile_mg_top = section.settings.mobile_mg_top %}
{% assign mobile_mg_bottom = section.settings.mobile_mg_bottom %}
{% assign mobile_pd_top = section.settings.mobile_pd_top %}
{% assign mobile_pd_bottom = section.settings.mobile_pd_bottom %}

{% assign show_border = section.settings.show_border %}

	.laber_{{sid}}{
      {% if mg_top !=0 %}margin-top:{{mg_top}}px;{%endif%} 
      {% if mg_bottom !=0 %}margin-bottom:{{mg_bottom}}px;{%endif%} 
      {% if pd_top !=0 %}padding-top:{{pd_top}}px;{%endif%} 
      {% if pd_bottom !=0 %}padding-bottom:{{pd_bottom}}px;{%endif%} 
	}
	{%if show_border %}
      .laber_{{sid}}:before{
        content: '';
        background: #ebebeb;
        max-width: 1200px;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: block;
      }
	{%endif%}
    @media (max-width: 1024px) {
      .laber_{{sid}}{
        {% if mobile_mg_top !=0 %}margin-top:{{mobile_mg_top}}px;{%endif%} 
        {% if mobile_mg_bottom !=0 %}margin-bottom:{{mobile_mg_bottom}}px;{%endif%} 
        {% if mobile_pd_top !=0 %}padding-top:{{mobile_pd_top}}px;{%endif%} 
        {% if mobile_pd_bottom !=0 %}padding-bottom:{{mobile_pd_bottom}}px;{%endif%} 
      }
      {%if show_border %}
        .laber_{{sid}}:before{
		  max-width: none;	
          left: 15px;
          right: 15px;
        }	
      {%endif%}
    }
{% endstyle%} 
{%- schema -%}
  {
    "name": "About us (style 1)",
    "class": "laber_section cms_section type_about_1",	
    "settings": [
	  {
        "type": "header",
        "content": "== Design Options"
      },
      {
        "type": "checkbox",
        "id": "hidden",
        "label": "Hidden Section?",
        "default": false
      },    
      {
      "type": "checkbox",
      "id": "show_border",
      "label": "Show border bottom",
      "default": true
      },
      {
        "type": "select",
        "id": "layout",
        "default": "container",
        "options": [
         {
            "value": "container",
            "label": "Container"
         },
         {
            "value": "full-width",
            "label": "Full Width"
          }
        ],
        "label": "Layout"
      },
        {
          "type": "range",
          "id": "mg_top",
          "label": "Margin Top",
          "default": 0,
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "mg_bottom",
          "label": "Margin bottom",
          "default": 100,
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "pad_top",
          "label": "Padding Top",
          "default": 0,
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "pad_bottom",
          "label": "Padding bottom",
          "default": 0,
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "header",
          "content": "== Setting mobile",
          "info":"Padding and Margin"
        },
       {
          "type": "range",
          "id": "mobile_mg_top",
          "label": "Margin top",
          "default": 0,
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "mobile_mg_bottom",
          "label": "Margin bottom",
          "default": 0,
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "mobile_pd_top",
          "label": "Padding top",
          "default": 0,
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "mobile_pd_bottom",
          "label": "Padding bottom",
          "default": 0,
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px"
        },
      {
        "type": "header",
        "content": "==General setting"
      }, 
      {
      "type": "color",
      "id": "bg_color",
      "label": "Background",
      "default": "#fff"
      },	
      {
        "type": "image_picker",
        "id": "large_banner",
        "label": "background about us"
      },
      {
        "type": "image_picker",
        "id": "small_banner",
        "label": "Signature"
      },
      {
        "type": "header",
        "content": "== Design Image"
      },
      {
        "type": "checkbox",
        "id": "use_eq_height",
        "label": "Use equal height images?",
        "default": true
      },
      
      {
        "type": "header",
        "content": "==Content area setting"
      },      		 
       {
        "type": "text",
        "id": "title",
        "label": "Title of section",
        "default": "When You Look Good, You Feel Good"
      },
	  {
        "type": "text",
        "id": "sub_title",
        "label": "Subtitle of section",
		"default": "About Eliah"
      },	
      
      {
        "type": "textarea",
        "id": "desc",
        "label": "Description",
		"default": "The top three occupations in the Beauty salons Industry Group are Hairdressers, hairstylists, & cosmetologists, Manicurists and pedi-curists, Receptionists & information clerks, Supervisors of personal care and service workers, and Skincare specialists."
      },
		{
        "type": "text",
        "id": "founder",
        "label": "Founder",
		"default": "<span>algistino</span>   -   Founder Of Gosto Store"
      }
    ],
    "presets": [
      {
        "name": "About us (style 1)",
        "category": "Introduce"
      }
    ]
  }
{% endschema %}
