{%- liquid
  assign sid = section.id
  assign url = block.settings.url | default:"https://www.youtube.com/watch?v=_9VUPq3SxOc" -%}

{%- for i in (1..1) -%}  
	{%- if section.settings.hidden %}{% break %}{% endif -%}
    <section style="padding:{{section.settings.mg_top}}px {{section.settings.mg_right}}px {{section.settings.mg_bottom}}px {{section.settings.mg_left}}px;">       
      <div class="nt_se_{{sid}} {{section.settings.layout}}">
        <div class="wrap_title">
          <h3 class="section-title"><span > {{section.settings.hd_title}}</span></h3>        
          <span class="section-subtitle">{{section.settings.hd_sub_title}}</span>
        </div>
        <div class="row equal_nt">
          <div class="col-12">
            <div style="min-height:480px;">
              <div class="wrapper_button" data-type="{{url.type}}">
                <button type="button" class="video-control__play"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-play" viewBox="0 0 20 40"><path fill-rule="evenodd" clip-rule="evenodd" d="M23.6 16.8L7 1.5C5.6.3 4 .2 2.9.7 1.6 1.4.8 2.7.7 3.8v31.7c0 1.8 1.1 3.3 3.1 3.3 1.5 0 2.5-.5 3.4-1.4l16.4-15.7c1.5-1.4 1.5-3.6 0-4.9z"></path></svg></button>
              </div>
              <iframe class="iframe_video" data-expand="-100" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" width="100%" height="100%" src="https://www.youtube.com/embed/{{url.id}}?playsinline=1&modestbranding=1&autohide=1&branding=0&fs=1"></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
{%- endfor -%}
{%- schema -%}
  {
    "name": "Iframe video",   
    "class": "nt_section type_iframe_video",    
    "settings": [
	  {
        "type": "header",
        "content": "== Design Options"
      },
      {
        "type": "checkbox",
        "id": "hidden",
        "label": "Hidden Section?",
        "default": false,
        "info": "Hidden section on home page, but still visible on blog posts, product page, pages as shortcode."
      },
      {
        "type": "select",
        "id": "layout",
        "options": [
         {
            "value": "container",
            "label": "Container"
         },
         {
            "value": "nt_full",
            "label": "Full Width"
          }
        ],
        "label": "Layout"
      },
      {
        "type": "range",
        "id": "mg_top",
        "label": "Margin top",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "mg_right",
        "label": "Margin right",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "mg_bottom",
        "label": "Margin bottom",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "mg_left",
        "label": "Margin left",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px"
      },     
      {
        "type": "header",
        "content": "== General Settings"
      },
	  {
        "type": "text",
        "id": "hd_title",
        "label": "Heading",
        "default": "Iframe video"
      },
      {
        "type": "textarea",
        "id": "hd_sub_title",
        "label": "Sub Text"
      }, 
      {
         "id": "url",
         "type": "video_url",
         "label": "Video URL",
         "accept": ["youtube", "vimeo"],
         "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
         "info": "Accepts YouTube,vimeo links"
      }      
    ],
    
    "presets": [
      {
        "name": "2. Iframe video",
        "category": "Video"
      }
    ]
  }
{% endschema %}
