{% assign show_full_width = section.settings.show_full_width %}
<div class="container {%if show_full_width%}full-width{%endif%}">
<div class="collection-hero{% if section.settings.show_collection_image and collection.image %} collection-hero--with-image{% endif %}">
  <div class="collection-hero__inner page-width">
    <div class="collection-hero__text-wrapper">
      {%- if section.settings.show_collection_image and collection.image -%}
      {% assign image = collection.image %}
      {%- assign ratio = image.aspect_ratio -%}
      <div class="collection-hero__image-container media">
        <div data-image-effect class="pr_lazy_img main-img lazyload laber_bg_lz laber_img_1 " data-id="{{image.id}}" data-bgset="{{ image | img_url: '1x1' }}" data-parent-fit="width" data-wiis data-ratio="{{ratio}}" data-sizes="auto" style="padding-top:{{ 1 | divided_by: ratio | times: 100}}%;"></div>
      </div>

      {%- endif -%}
      
       <h1 class="collection-hero__title">
        <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
        {{- collection.title | escape -}}
      </h1>
      {%- if section.settings.show_collection_description -%}
        <div class="collection-hero__description rte">{{ collection.description }}</div>
      {%- endif -%}
    </div>


  </div>
</div>
</div>
{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "spaced-section main-collection-banner",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
    "type": "checkbox",
    "id": "show_full_width",
    "default": false,
    "label": "t:sections.main-collection-banner.settings.show_full_width.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    }
  ]
}
{% endschema %}
