

<ul id="menu_mb_ul" class="nav-accordion laber_mb_menu">
   {%- if section.blocks.size > 0 -%}
      {%- for block in section.blocks -%}
         {%- assign block_stts = block.settings -%}
         {%- assign collection = collections[block_stts.cat] -%}
  
                  {%- if linklists[block_stts.menu].links.size > 0 -%}
                      <li id="item_{{block.id}}" class="menu-item item-level-0 has-children" {{ block.shopify_attributes }}>
                        <a href="{{block_stts.url | default:collection.url}}">
                          {% if block_stts.show_icon and block_stts.icon != blank %}
                       		<span class="icon">{{block_stts.icon}}</span>
                      	{% endif %}
                          
                          <span>{{block_stts.title | default:collection.title}}
                            {% if block_stts.lb != blank %}
                              <span class="label" style="background-color: {{block_stts.lb_cl | default:'#222'}}">{{block_stts.lb}}</span>
                            {% endif %}
                          </span>
                        </a>
                           <ul class="sub-menu">
                              {%- for link in linklists[block_stts.menu].links -%}
                               
                                 {%- if link.links != blank -%}
                                    <li class="menu-item item-level-1 has-children {% if link.active %}active{% endif %}">
                                       <a href="{{link.url}}"><span>{{link.title}}</span></a>
                                       <ul class="sub-menu2">
                                          {%- for child_link in link.links -%}

                                             {%- assign arrlt = child_link.title | split: '[' -%}
                                             {%- if child_link.links != blank -%}
                                                <li id="item_{{block.id}}" class="menu-item item-level-2 has-children {% if child_link.active %}active{% endif %}">
                                                   <a href="{{child_link.url}}"><span>{{child_link.title}}</span></a>
                                                   <ul class="sub-menu3">

                                                      {%- for grandchild_link in child_link.links -%}
                                                      {%- assign arrlt = grandchild_link.title | split: '[' -%}
                                                      <li class="menu-item item-level-3 {% if grandchild_link.active %}active{% endif %}">
                                                        	<a href="{{grandchild_link.url}}">{{grandchild_link.title}}</a>
                                                    	</li>
                                                      {%- endfor -%}

                                                   </ul>
                                                </li>
                                             {%- else -%}
                                                 <li class="menu-item item-level-2{% if child_link.active %} active{% endif %}">
                                                   <a href="{{child_link.url}}"><span>{{child_link.title}}</span></a></li>
                                             {%- endif -%}

                                          {%- endfor -%}
                                       </ul>
                                    </li>
                                 {%- else -%}
                                    <li class="menu-item item-level-1 {% if link.active %}active{% endif %}"><a href="{{link.url}}">
                                      <span>{{link.title}}</span></a>
                             		</li>
                                 {%- endif -%}

                              {%- endfor -%}
                           </ul>
                     </li>
                  {%- else -%}
                      <li id="item_{{block.id}}" class="menu-item item-level-0">
                        
                        <a href="{{block_stts.url | default:collection.url}}">
						{% if block_stts.show_icon and block_stts.icon != blank %}
                       		<span class="icon">{{block_stts.icon}}</span>
                      	{% endif %}
                       <span>
                       {{block_stts.title | default:collection.title}}
                         {% if block_stts.lb != blank %}<span class="label" style="background-color: {{block_stts.lb_cl | default:'#222'}}">{{block_stts.lb}}</span>{% endif %}</span></a></li>
                  {%- endif -%}
              
      {%- endfor -%}
   {%- else -%}

   {%- endif -%}
</ul>

{%- schema -%}
  {
    "name": "Mobile categories",
    "class": "sc-categories-mobile",
    "max_blocks": 50,
    "blocks": [
      {
        "type": "cate",
        "name": "Collection List",
        "settings": [
         {
            "label": "== Collection",
            "id": "cat",
            "type": "collection"
         },
         {
           "type": "text",
           "id": "title",
           "label": "== Title (optional)",
			"default": "Women",
            "info": "Prioritize instead of (collection title)."
         },
          {
            "type": "url",
            "id": "url",
            "label": "Link (optional)",
            "info": "Prioritize instead of (collection url)."
          },
         {
            "type": "link_list",
            "id": "menu",
            "label": "== Add menu (optional)"
         },
         {
            "type":"text",
            "id":"lb",
            "label":"== Label text"
         },
         {
            "type":"color",
            "id":"lb_cl",
            "default":"#222",
            "label":"== Label color"
         },
         {
            "type": "checkbox",
            "id": "show_icon",
            "label": "Show icon",
            "default": false
          },
         {
            "id": "icon",
            "type": "text",
            "label": "Icon",
            "default":"<i class=\"las la-female\"></i>",
            "info":"Ex:user [Line awesome icons](https://icons8.com/line-awesome)"
         }
        ]
      }
    ]
  }
{% endschema %}
