<section style="border-bottom: 1px solid #ebebeb;background-color:{{section.settings.cl_bg}}; margin-top:{{section.settings.mg_top}}px ;margin-bottom:{{section.settings.mg_bottom}}px ; padding-top:{{section.settings.pad_top}}px ;padding-bottom:{{section.settings.pad_bottom}}px ;">
<div class="container {% if section.settings.layout == "full-width"%}{{section.settings.layout}}{% endif %}">  
<div id="tab_product" class="cms-tab nav-tab-style2">
  <ul class="nav list-nav">
      {%- for block in section.blocks -%}
            {%- case block.type -%}
                {%- when 'tab_description' -%}
                    {%- assign title_description = block.settings.title_description -%}
                    <li class="active"><a data-animated="fadeIn" data-toggle="pill" href="#tab_des"><i class="icon icon-alert-circle"></i>{{ title_description }}</a></li>
                {%- when 'tab_custom_html' -%}
                    {% assign index = index | plus: 1 %}
                    <li><a data-animated="fadeIn" data-toggle="pill" href="#tab{{index}}">{{ block.settings.title }}</a></li>
                {%- when 'tab_custom_text' -%}
                    {% assign index = index | plus: 1 %}
                    <li><a data-animated="fadeIn" data-toggle="pill" href="#tab{{index}}">{{ block.settings.title }}</a></li>
                {%- when 'tab_reviews' -%}
                    {% include 'reviews-count' %}
                    {%- assign title_reviews = block.settings.title_reviews-%}
                    <li><a data-animated="rotateInDownLeft" data-toggle="pill" href="#tab_review"><i class="icon icon-star_outline"></i>{{title_reviews}}</a></li>
                {%- when 'show_variants' -%}{% if product.has_only_default_variant %}{% continue %}{% endif -%}
                    <li><a data-animated="rotateInDownLeft" data-toggle="pill" href="#tab_variants">{{ block.settings.title }}</a></li>
    			{%- when 'tab_metafields' -%}
    		      {% assign custom_tabs = product.metafields.custom-tabs %}
                  {%if custom_tabs.size > 0 %}
                      {% assign index = 0 %}
                      {% for tab_info in custom_tabs %}
                          {% assign tab_name = tab_info | first %}          
                          {% assign index = index | plus: 1 %}           
                          <li><a data-animated="fadeIn" data-toggle="pill" href="#tab_meta_2"><i class="icon icon-users"></i>{{ tab_name }}</a></li>        
                      {%endfor%}
                  {%endif%}
              {%- when 'tab_metafields1' -%}
              {% assign custom_tabs-1 = product.metafields.custom-tabs-1 %}
                  {%if custom_tabs-1.size > 0 %}
                      {% assign index = 0 %}
                      {% for tab_info in custom_tabs-1 %}
                          {% assign tab_name = tab_info | first %}          
                          {% assign index = index | plus: 1 %}           
                          <li><a data-animated="fadeIn" data-toggle="pill" href="#tab_meta_1"><i class="icon icon-file-text"></i>{{ tab_name }}</a></li>        
                      {%endfor%}
                  {%endif%}
            {%- endcase -%}
      {%- endfor -%}


  </ul>	
  
  <div class="tab-content">
  {%- assign custom_tab_index = 1 -%}
  {%- for block in section.blocks -%}
		{%- case block.type -%}
			{%- when 'tab_description' -%}
				<div id="tab_des" class="tab-panel active ">
				<div class="description">
				  {{ product.description }}
				</div>
			  </div>
			{%- when 'tab_custom_html' -%}
				
				<div id="tab{{custom_tab_index}}" class="tab-panel">
                <div class="description">
                  {%- if block.type == 'tab_custom_html' %}                  	
                  	{%- if block.settings.page_content != blank -%}
                  		{%- assign get_content = pages[block.settings.page_content].content -%}
                  		{{get_content}}
                  	{% endif %}
                  {% else %}
                  	{{block.settings.content}}                  
                  {% endif %}                  
                </div>
              </div>
              {%- assign custom_tab_index = custom_tab_index | plus: 1 -%}
			  
			{%- when 'tab_custom_text' -%}
				<div id="tab{{custom_tab_index}}" class="tab-panel">
                <div class="description">
                  {%- if block.type == 'tab_custom_html' %}                  	
                  	{%- if block.settings.page_content != blank -%}
                  		{%- assign get_content = pages[block.settings.page_content].content -%}
                  		{{get_content}}
                  	{% endif %}
                  {% else %}
                  	{{block.settings.content}}                  
                  {% endif %}                  
                </div>
              </div>
              {%- assign custom_tab_index = custom_tab_index | plus: 1 -%}
			  
			{%- when 'tab_reviews' -%}
				<div id="tab_review" class="tab-panel">
				  <div class="custom-review">
            {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true, product: product %}
					<div class="row">
					{% comment %}  <div id="shopify-product-reviews" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-id="{{product.id}}">{% endcomment %}
						{{ product.metafields.spr.reviews }}
					  </div>          
					</div>
				  </div>
				</div>
    		{%- when 'show_variants' -%}{% if product.has_only_default_variant %}{% continue %}{% endif -%}
              <div id="tab_variants" class="tab-panel">
                <div class="sp-tab-content">
                  <table class="pr_attrs">
                    <tbody>
                      {%- for product_option in product.options_with_values -%}
                      <tr class="attr_pa_{{product_option.name | handle }}">
                        <th class="attr__label">{{ product_option.name }}</th>
                        <td class="attr__value">
                          {% for value in product_option.values %}{{ value }}{% unless forloop.last == true %}, {% endunless %}{% endfor %}
                        </td>
                      </tr>
                      {%- endfor -%}
                    </tbody>
                  </table>
                </div>
              </div>
    	{%- when 'tab_metafields' -%}
            {% assign index = 0 %}
            {% assign custom_tabs = product.metafields.custom-tabs %}
            {% for tab_info in custom_tabs %}     
            {%assign tab_value = tab_info | last%}
            {% assign index = index | plus: 1 %}     
            <div id="tab_meta_2" class="tab-panel">      
              <div class="description">
                {{ tab_value }}
              </div>
            </div>
            {%endfor%}
    		{%- when 'tab_metafields1' -%}
            {% assign index = 0 %}
            {% assign custom_tabs-1 = product.metafields.custom-tabs-1 %}
            {% for tab_info in custom_tabs-1 %}     
            {%assign tab_value = tab_info | last%}
            {% assign index = index | plus: 1 %}     
            <div id="tab_meta_1" class="tab-panel">      
              <div class="description">
                {{ tab_value }}
              </div>
            </div>
            {%endfor%}
		{%- endcase -%}
		
  {%- endfor -%}

  </div>
</div>
  </div>
</section>
{% schema %}
  {
    "name": "Tab Product page",
	"class": "tab_product_page",	
    "settings": [
        {
          "type": "select",
          "id": "layout",
          "default": "container",
          "options": [
          {
          "value": "container",
          "label": "Container"
          },
          {
          "value": "full-width",
          "label": "Full Width"
          }
          ],
          "label": "Layout"
        },
        {
        "type": "color",
        "id": "cl_bg",
        "label": "Background color",
        "default": "#fff"
     	 },
        {
          "type": "range",
          "id": "mg_top",
          "label": "Margin Top",
          "default": 0,
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "mg_bottom",
          "label": "Margin bottom",
          "default": 100,
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "pad_top",
          "label": "Padding Top",
          "default": 0,
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "pad_bottom",
          "label": "Padding bottom",
          "default": 0,
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px"
        },
        {
            "type": "paragraph",
            "content": "Click 'Add content' to add CUSTOM TAB"
        },
		{
          "type": "header",
          "content": "IMAGE MANUALS"
        }, 
        {
          "type": "paragraph",
          "content": "How to create a custom tab from Metafields Guru:"        
		},
		{
          "type": "paragraph",
          "content": "[Step 0: You have to install Metafields Guru app](https://apps.shopify.com/metafields-editor-2)"
        },
	    {
          "type": "paragraph",
          "content": "[Step 1: Navigate to a product management page in the administration panel](http://prntscr.com/wglfp2)"
        },
	    {
          "type": "paragraph",
          "content": "[Step 2: Next, near the top of the product page, note the “More actions” dropdown menu. Under this menu, find a link that reads, “Edit Metafields” ](http://prntscr.com/wglh78)"
        },
	    {
          "type": "paragraph",
          "content": "[Step 3: Create a metafield for this product ](http://prntscr.com/wglj93)"
        },
	    {
          "type": "paragraph",
          "content": "[Step 4: Fill information and press 'Save' ](http://prntscr.com/wglmd2)"
        },
	    {
          "type": "paragraph",
          "content": "[Step 5: View restult at product detail page ](http://prntscr.com/wgmr0y)"
        }
      ],
      "blocks": [
		{
          "type": "tab_description",
          "name": "Description",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "title_description",
              "label": "Title",
              "default": "Description"
            }
          ]
        },
		{
          "type": "show_variants",
          "name": "Additional Information",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "Title",
              "default": "Additional Information"
            }
          ]
        },
        {
          "type": "tab_custom_html",
          "name": "Custom HTML tab",
          "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "Title",
              "default": "Custom HTML"
            },
            {
              "type": "page",
              "id": "page_content",
              "label": "Page content",
              "info": "Default page: 'Include Product Tab Custom HTML'"
            }
          ]
        },
        {
          "type": "tab_custom_text",
          "name": "Custom text tab",
          "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "Title",
              "default": "Custom text"
            },
            {
              "type": "richtext",
              "id": "content",
              "label": "HTML content",
              "default": "<p>Text content of Tab goes here!</p><p>You can make&nbsp;text <strong>bold</strong>, <em>italic</em> or add <a href=\"\/blogs\/news\" title=\"News\">link</a> using rich text editor.</p><p></p>"
            }
          ]
        },
		{
          "type": "tab_reviews",
          "name": "Reviews",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "title_reviews",
              "label": "Title",
              "default": "Reviews"
            }
          ]
        },
		{
          "type": "tab_metafields",
          "name": "Metafields tabs",
		  "limit": 1,
          "settings": [
            {
            "type": "header",
            "content": "== Metafields tabs",
            "info" : "If you want to use metafields tabs for products. You can install [App metafields](https://apps.shopify.com/metafields-editor-2)"
            }
          ]
        },

        {
          "type": "tab_metafields1",
          "name": "Metafields1 tabs",
		  "limit": 1,
          "settings": [
            {
            "type": "header",
            "content": "== Metafields tabs",
            "info" : "If you want to use metafields tabs for products. You can install [App metafields](https://apps.shopify.com/metafields-editor-2)"
            }
          ]
        }
		
      ],
	  "default": {
        "blocks": [
            { "type": "tab_description" },
            { "type": "tab_custom_html" },
            { "type": "tab_custom_text" },
            { "type": "tab_reviews" }
        ]
      }

  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
