{%- liquid 
  assign page_type = section.settings[key] -%}

{% if section.settings.use_newsletter_popup %}
{%- for i in (1..1) %}
	{% assign max_width = section.settings.max_width %}
	{% assign max_height = section.settings.max_height %}
	{% assign bg_color = section.settings.bg_color %}
    <div data-effect="mfp-zoom-out" style="max-width:{{max_width}}px;max-height:{{max_height}}px; background-color:{{bg_color}};" data-js-lazy-newsletter-popup class="js_popup_prpr_wrap_newsletter container mfp-with-anim" data-time='{{section.settings.timeout | times: 1000}}' data-stt='{ "pp_version": {{section.settings.pp_version |default:1}},"day_next": {{section.settings.day_next}} }'>
      <div class="popup_content">
        <div class="col-12 content">
          <div class="wrap-newslette-popup">
            <div class="logo_newslette">
              <img src="{% if section.settings.logo_newslette %}{{section.settings.logo_newslette | img_url:"65x65"}}{%else%}https://placehold.jp/14/ff0000/fff/65x65.png?text=65x65+Image{%endif%}" alt="">
            </div>
            <div class="sub_title_newslette">
              <h5>	
              	{{section.settings.sub_title_newslette}}
              </h5>
            </div>	
            <div class="title_newslette">
              <h4>	
              	{{section.settings.title_newslette}}
              </h4>
            </div>	
            <div class="desc">
              {{section.settings.description}}
            </div>
            <form method="post" action="{{settings.newsletter_form_action}}" class="newsletter-form-footer" autocomplete="on">                              
                <div class="signup-newsletter-form">
                  <div class="col_email"><input type="email" name="EMAIL" placeholder="{{section.settings.placeholder_newsletter}}"  value="{% if customer %}{{ customer.email }}{% endif %}" class="input-text" required="required"></div>
                  {%comment%}
                  <div class="group-input">
                    <label class="radio radio-before">
                      <span class="radio__input">
                        <input type="radio" name="radio">
                        <span class="radio__control"></span>
                      </span>
                      <span class="radio__label">Man</span>
                    </label>
                    <label class="radio radio-before">
                      <span class="radio__input">
                        <input type="radio" name="radio">
                        <span class="radio__control"></span>
                      </span>
                      <span class="radio__label">Women</span>
                    </label>
                    <!--<input type="radio" name="gender" value="man"/> <label>Man</label>
                    <input class="women" type="radio" name="gender" value="women" checked /> <label>Women</label>-->
                  </div>
                  {%endcomment%}
                  <div class="col-auto"><button type="submit" class="btn btn-theme">{{section.settings.button_newsletter}}</button></div>
               </div>          
            </form>  
            <div class="do-not-show-again checkbox clearfix">
              <input id="do-not-show" name="do-not-show" type="checkbox"> <label for="do-not-show">{{section.settings.no_show_popup_again}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
{%- endfor -%}
{% endif %}
{%- schema -%}
  {
    "name": "Newsletter popup",
    "class":"mfp-hide type_promotion_popup",
    "settings": [  
	  {
        "type": "paragraph",
        "content": "Only visible on desktop."
      },
	  {
          "type": "checkbox",
          "id": "use_newsletter_popup",
          "label": "Show newsletter popup",
          "default": true
	  },      
      {
        "type": "header",
        "content": "== Newsletter Settings"
      }, 
      {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#ffffff"
      },
	  {
      "type": "image_picker",
      "id": "logo_newslette",
      "label": "Logo Newslette",
      "info": "65x65"
      },
	  {
      "type": "text",
      "id": "sub_title_newslette",
      "label": "Sub Title newslette",
      "default":"Sub Title"
      },
      {
      "type": "text",
      "id": "title_newslette",
      "label": "Title newslette",
      "default":"Subcribe To Our Newsletter"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Description",
		"default": "Sign up for our newsletter to be updated on the latest  designs, exclusive offers, inspiration and tip!"
      },
      {
        "type": "text",
        "id": "placeholder_newsletter",
        "label": "Placeholder of newsletter",
		"default":"Your email address"
      },
	  {
        "type": "text",
        "id": "button_newsletter",
        "label": "Button of newsletter",
		"default":"Subscribe"
      },
	  {
        "type": "text",
        "id": "no_show_popup_again",
        "label": "Don't show this popup again",
		"default":"Don't show this popup again"
      }, 
      {
      "type": "text",
      "id": "max_width",
      "label": "Max width",
      "default": "860",	
	  "info":"unit px"
      },
	  {
      "type": "text",
      "id": "max_height",
      "label": "Max height",
      "default": "405",
      "info":"unit px"
      },	
      {
        "type": "header",
        "content": "General Settings"
      },      
      {
        "type": "range",
        "id": "timeout",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "sec",
        "label": "Delay time (second)",        
        "default": 15
      },
      {
        "type": "header",
        "content": "Show popup after Settings"
      },        
      {
        "type": "range",
        "id": "day_next",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "Day",
        "label": "Day next show (n)",
        "info": "if customer close the popup, next show will be after 'n' Day",
        "default": 1
      }
    ]
  }
{% endschema %}