{%- liquid
  assign sid = section.id  
-%}
{%- for i in (1..1) -%}
  {%- if section.settings.cp_code and request.page_type == 'index' %}<div class="dn tc mt__40 mb__40 cp_cd_js"><input type="text" class="dcp_cd_ip" value='<div class="inc_lz inc_ins_laz" data-include="/search/?section_id={{sid}}"><div class="loading_bg"></div></div>'><button class="dcp_cd_btn">Copy Shortcode</button></div>{% endif -%}
  {%- if section.settings.hidden and request.page_type == 'index' %}{% break %}{% endif -%}
  <div class="nt_se_{{sid}} {{section.settings.layout}}">  
      <div class="wrap_title">
        <h3 class="section-title"><span > {{section.settings.title}}</span></h3>        
        <span class="section-subtitle">{{section.settings.sub_title}}</span>
      </div> 
      <div class="rte_setting {{section.settings.align}}">{{ section.settings.content }}</div>
  </div>
{%- endfor -%}
{%- liquid
  assign mg = section.settings.mg
  assign pd = section.settings.pd
  assign mg_mb = section.settings.mg_mb
  assign pd_mb = section.settings.pd_mb
  assign sid = section.id -%}

{%- capture style -%}	
	{%- if mg != blank or pd != blank -%} 
      .nt_se_{{sid}} {
         {%- if mg != blank %}{% assign arr_mg = mg | remove:' ' | split:',' -%}
             margin-top: {{arr_mg[0]}} !important;margin-right: {{arr_mg[1]}} !important;margin-bottom: {{arr_mg[2]}} !important;margin-left: {{arr_mg[3]}} !important;
             {%- if arr_mg[3] != blank and section.settings.layout == 'nt_full' -%}width: calc(100% - {{arr_mg[3]}} - {{arr_mg[1]}});width: -webkit-calc(100% - {{arr_mg[3]}} - {{arr_mg[1]}});{%- endif -%}
         {%- endif -%}
         {%- if pd != blank %}{% assign arr_pd = pd | remove:' ' | split:',' -%}
             padding-top: {{arr_pd[0]}} !important;padding-right: {{arr_pd[1]}} !important;padding-bottom: {{arr_pd[2]}} !important;padding-left: {{arr_pd[3]}} !important;
         {%- endif -%}
      }
	{%- endif -%}
	{%- if mg_mb != blank or pd_mb != blank -%} 
      @media only screen and (max-width: 767px) {
          .nt_se_{{sid}} {
             {%- if mg_mb != blank %}{% assign arr_mg = mg_mb | remove:' ' | split:',' -%}
                 margin-top: {{arr_mg[0]}} !important;margin-right: {{arr_mg[1]}} !important;margin-bottom: {{arr_mg[2]}} !important;margin-left: {{arr_mg[3]}} !important;
                 {%- if arr_mg[3] != blank and section.settings.layout == 'nt_full' -%}width: calc(100% - {{arr_mg[3]}} - {{arr_mg[1]}});width: -webkit-calc(100% - {{arr_mg[3]}} - {{arr_mg[1]}});{%- endif -%}
             {%- endif -%}
             {%- if pd_mb != blank %}{% assign arr_pd = pd_mb | remove:' ' | split:',' -%}
                 padding-top: {{arr_pd[0]}} !important;padding-right: {{arr_pd[1]}} !important;padding-bottom: {{arr_pd[2]}} !important;padding-left: {{arr_pd[3]}} !important;
             {%- endif -%}
          }
      }
	{%- endif -%}
{%- endcapture -%}

{%- style -%}{{ style | strip_newlines | remove:"  "}}{%- endstyle -%}
{%- schema -%}
  {
    "name": "Rich text",
    "class": "nt_section type_rich_text",    
    "settings": [
      {
        "type": "header",
        "content": "== General Settings"
      },
       {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Talk about your brand"
      },
      {
        "type": "textarea",
        "id": "sub_title",
        "label": "Sub Text"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      },
      {
        "type": "select",
        "id": "align",
        "default": "tc",
        "options": [
         {
            "value": "tl",
            "label": "Left"
         },
         {
            "value": "tc",
            "label": "Center"
          },
         {
            "value": "tr",
            "label": "Right"
          }
        ],
        "label": "Text Align"
      },
      {
        "type": "header",
        "content": "== Design Options"
      },
      {
        "type": "checkbox",
        "id": "hidden",
        "label": "Hidden Section?",
        "default": false,
        "info": "Hidden section on home page, but still visible on blog posts, product page, pages as shortcode."
      },
      {
        "type": "checkbox",
        "id": "cp_code",
        "label": "Show copy shortcode?",
        "default": false,
        "info": "Copy shortcode only show on admin editor."
      },      
      {
        "type": "select",
        "id": "layout",
        "options": [
         {
            "value": "container",
            "label": "Container"
         },
         {
            "value": "nt_full",
            "label": "Full Width"
          }
        ],
        "label": "Layout"
      },      
      {
        "type": "text",
        "id": "mg",
        "label": "Margin",
        "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank",
        "default": "30px,,,",
        "placeholder": "30px,,30px,"
      },
      {
        "type": "text",
        "id": "pd",
        "label": "Padding",
        "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank",
        "placeholder": "30px,,30px,"
      },
     {
        "type": "header",
        "content": "== Design Mobile Options"
      },
      {
        "type": "text",
        "id": "mg_mb",
        "label": "Margin",
        "placeholder": "30px,,30px,"
      },
      {
        "type": "text",
        "id": "pd_mb",
        "label": "Padding",
        "placeholder": "30px,,30px,"
      }  
    ],
    "presets": [
      {
        "name": "2. Rich text",
        "category": "Text"
      }
    ]
  }
{% endschema %}
