
{% assign id = section.id %}
{% assign style_dots = section.settings.style_dots %}
{% assign position_nav = section.settings.position_nav %}

{% liquid 
        assign section_blocks = section.blocks  
    	assign size = "1920x500"
    	assign no-img = "https://via.placeholder.com/1730x562.png/263c97"
        assign no-img_mobile ="https://via.placeholder.com/480x480.png/f5f5f5"
    	assign index = 1 
        assign arr_blocks_img = section_blocks | where: "type", 'img'%}

<section class="laber_slidershow_{{id}}">
<div data-wrapper-slidershow class="{{section.settings.layout}}">
  <div class="laberSlidershow">
    {% include 'grid-slider', settings:section.settings %}
  <div class="grid-slider js_carousel vertical-center {% if section.settings.fade_zoom %}fade_zoom{%endif%}"
     {{gridSlider}}
       data-append-Dots=".appendDots"
    >
    {% if arr_blocks_img.size > 0 %}  
    	{%- for block in arr_blocks_img -%}
    		{% if block.type == 'img' %} 
    			{% assign image = block.settings.image_sl %}
    			{% assign image_mobile = block.settings.image_sl_mobile %}
    			{% assign url = block.settings.link_img %}
    			{% assign open_link = block.settings.open_link %} 
                {% assign cl_bg = block.settings.cl_bg %}
                <div id="laber_bock_{{block.id}}" class="wrap_slide js_image_slide">
                  <div  class="content-item" {%if cl_bg != blank %}style="background-color:{{cl_bg}};"{%endif%} {{ block.shopify_attributes }}>                  
                    {% assign ratio = image.aspect_ratio |default:1.0 %}
                    {% assign pd_top = 1 | divided_by: ratio | times: 100 %}
                    
                    {% assign ratio_mobile = image_mobile.aspect_ratio |default:1.0 %}
                    {% assign pd_top_mobile = 1 | divided_by: ratio_mobile | times: 100 %}
                    <div class="lazyload laber_bg_lz pr_lazy_img image_pc" data-bgset="{% if image != blank %}{{ image | img_url: '1x1' }}{% else %}{{ no-img}}{% endif %}" data-ratio="{{ratio}}" data-sizes="auto" style="padding-top:{% if image != blank %} {{pd_top}}%{% else %} 600px{% endif %};" ></div>
                    <div class="lazyload laber_bg_lz pr_lazy_img image_mobile" data-bgset="{% if image_mobile != blank %}{{ image_mobile | img_url: '480x480' }}{% else %}{{ no-img_mobile}}{% endif %}" data-ratio="{{ratio_mobile}}" data-sizes="auto" style="padding-top:{% if image_mobile != blank %} {{pd_top_mobile}}%{% else %} 100%{% endif %};" ></div>
                    <div class="container wrap_text">
                      <div class="wrapper_caption flex h_{{block.settings.h_position}} v_{{block.settings.v_position}} text_{{block.settings.txt_align}}">

                        <div class="caption" style="color:{{block.settings.cl_overlay}}; opacity:{{block.settings.cl_opacity | times:10 }}">
                          <div class="outner-caption">
                            <div class="inner-caption">                            	
                              {% for block in section_blocks offset:index %}
                              {% assign index = index|plus:1 %}                            		
                              {%- case block.type -%}                                     
                              {% when 'subhd' %}
                                <h4 id="b_{{block.id}}"  class="slide_item_h4 laber-{{block.settings.text_animate}} {% if block.settings.hide %} d-none{% endif %}" {{ block.shopify_attributes }}>
                                  {% assign somearray = block.settings.title | split: ' ' %}                             
                                  {% assign pos = block.settings.custom_mark %}
                                  {% assign index_mark  = 0 %}
                                  {% for item in somearray %}
                                  {% assign index_mark  = index_mark | plus: 1 %} 
                                  <span  class="{% if block.settings.first_mark and forloop.first %}first {% endif %}{% if pos contains index_mark %}marked{% endif %}{% if block.settings.last_mark and forloop.last %}last {% endif %}" > {{item}} </span>
                                  {% endfor %}   
                                </h4>
                              {% when 'hd' %}
                              <h3 id="b_{{block.id}}"  class="slide_item_h3 laber-{{block.settings.text_animate}} {% if block.settings.hide %} d-none{% endif %}" {{ block.shopify_attributes }}>                             
                                {% assign somearray = block.settings.title | split: ' ' %} 
                                {% assign pos = block.settings.custom_mark %}
                                {% assign index_mark  = 0 %}
                                {% for item in somearray %}
                                {% assign index_mark  = index_mark | plus: 1 %} 
                                	<span  class="{% if block.settings.first_mark and forloop.first %}first {% endif %}{% if pos contains index_mark %}marked{% endif %}{% if block.settings.last_mark and forloop.last %}last {% endif %}" > {{item}} </span>
                                {% endfor %}                             
                              </h3>
                              {% when 'txt' %}
                              <div id="b_{{block.id}}"  class="slide_item_p laber-{{block.settings.text_animate}} {% if block.settings.hide_mobile %} hide_mobile{% endif %} {% if block.settings.hide %} d-none{% endif %}" {{ block.shopify_attributes }}>{{block.settings.title}}</div> 
                              {% when 'btn' %}
                              {%- if  block.settings.title != blank -%}
                              	<a id="b_{{block.id}}" 
                                   class="buttons laber-{{block.settings.text_animate}}" href="{{block.settings.btn_link}}"  
                                   {{ block.shopify_attributes }}>{{block.settings.title}} {{block.settings.icon_button}}</a>	
                              {%- endif -%}
                              {% when 'space' %}
                              <div id="b_{{block.id}}" class="slide_item_space {% if block.settings.hide_mobile %} hide_mobile{% endif %}" {{ block.shopify_attributes }}></div>
                              {% when 'box' %}
                              <div id="b_{{block.id}}"  class="slide_item_box" {{ block.shopify_attributes }}>    
                                <div class="inner-box">
                                  <div class="outside-box">
                                    <div class="inside-box">
                                      <h2>{{block.settings.title}}</h2>
                                      <p>{{block.settings.content}}</p>
                                      {%- if block.settings.btn_link != blank and block.settings.button_text != blank -%}
                                      	<a href="{{block.settings.btn_link}}">{{block.settings.button_text}}</a>
                                      {% endif %}
                                    </div>
                                  </div>
                                </div>
                              </div>
                              {% when 'label' %}
                              {%- if  block.settings.title != blank -%}
                              <div id="b_{{block.id}}" class="label" {{ block.shopify_attributes }}>
                                <span><span>{{block.settings.title}}</span></span>
                              </div>	
                              {%- endif -%}
                              
                              {% else %}                            				
                              {%- break -%}
                              {%- endcase -%}
                              {%- endfor -%}
                            </div> 
                          </div>
                        </div>   

                      </div>

                    </div>
                  </div> 
                </div>
    		{% endif %}
    	{% endfor %}
      {% endif %} 
    
    </div>
  {% if section.settings.dots %}
    <div class="wrapper-dots {{position_nav}} {{style_dots}}">
      <div class="container">
      <div class="appendDots"></div>
      </div>
    </div>
  {% endif %}  
    </div>
</div>
</section>


{% style%}
	.laber_slidershow_{{id}}{
			{% if section.settings.margin_top_slidershow!=blank %}margin-top:{{section.settings.margin_top_slidershow}}px; {% endif %} 
			{% if section.settings.margin_bottom_slidershow !=blank %}margin-bottom:{{section.settings.margin_bottom_slidershow}}px; {% endif %} 
			{% if section.settings.cl_bg %} background-color:{{section.settings.cl_bg}} {% endif %}
	}
	@media (max-width: 1024px) {
      .laber_slidershow_{{id}}{
        {% if section.settings.margin_top_slidershow_mobile!=blank %}margin-top:{{section.settings.margin_top_slidershow_mobile}}px; {% endif %} 
        {% if section.settings.margin_bottom_slidershow_mobile !=blank %}margin-bottom:{{section.settings.margin_bottom_slidershow_mobile}}px; {% endif %}         
      }
    }
	{%- if section_blocks.size > 0 %}
        {%- for block in section_blocks -%}
        {%- assign id = block.id -%}
        {%- assign type = block.type -%}
            {%- case block.type -%} 
					{% when 'subhd' %}
                      .wrapper_caption #b_{{id}}.slide_item_h4{
                        text-transform:{{block.settings.text_transform}}; 
                        letter-spacing:{{block.settings.ls_text}}px;
                        {% if block.settings.lh_text >0 %}line-height:{{block.settings.lh_text}}px; {% endif %} 
                        font-size:{{block.settings.fs_text}}px; 
                        color:{{block.settings.color}}; 
						padding:{{block.settings.pd}}; 
						border-radius:{{block.settings.br_button}};
                        font-weight:{{block.settings.fw_text}}; 
						background-color:{{block.settings.bg_text}};
                      }
						@media (max-width: 1024px) {
                          .wrapper_caption #b_{{block.id}}.slide_item_h4{
							font-size:{{block.settings.mobile_font_text}}px;
							font-weight:{{block.settings.mobile_fw_text}}; 
                          }
                        }
					{% when 'hd' %}
						.wrapper_caption #b_{{id}}.slide_item_h3 {
                          text-transform:{{block.settings.text_transform}}; 
                          letter-spacing:{{block.settings.ls_text}}; 
                          {% if block.settings.lh_text >0 %}line-height:{{block.settings.lh_text}}px; {% endif %} 
                          font-size:{{block.settings.fs_text}}px; 
                          color:{{block.settings.color}}; 
                          
						  {%if block.settings.use_fonts %}
								{%if block.settings.f_weight_d == 'regular' %}
									font-family: monumentextended-regular;
								{%else%}
									font-family: monumentextended-ultrabold;
								{%endif%}
								font-weight: normal;
						  {%else%}
							font-weight:{{block.settings.fw_text}};
						  {%endif%}	
						}
						@media (max-width: 1024px) {
                          .wrapper_caption #b_{{block.id}}.slide_item_h3{
								font-weight:{{block.settings.mobile_fw_text}};
								font-size:{{block.settings.mobile_font_text}}px; 
                          }
                        }
				  {% when 'txt' %}
						.wrapper_caption #b_{{id}}.slide_item_p{
							margin:0px; 
							letter-spacing:{{block.settings.ls_text}}; 
							{% if block.settings.lh_text >0 %}line-height:{{block.settings.lh_text}}px; {% endif %} 
							font-size:{{block.settings.fs_text}}px; 
							color:{{block.settings.color}}; 
							font-weight:{{block.settings.fw_text}};
						}
						@media (max-width: 1024px) {
                          .wrapper_caption #b_{{block.id}}.slide_item_p{
								font-size:{{block.settings.mobile_font_text}}px;
								font-weight:{{block.settings.mobile_fw_text}};
                          }
							
                        }
				  {% when 'btn' %}
                        .wrapper_caption #b_{{id}}.buttons{
							margin:{{block.settings.mg}}; 
                          padding:{{block.settings.pd}}; 
                          background-color: {{block.settings.cl_bg}}; 
                          color:{{block.settings.cl_txt}}; 
                          font-size:{{block.settings.fs_text}}px; 
                          font-weight:{{block.settings.fw_text}};
                          border-radius:{{block.settings.br_button}};
                          text-transform:{{block.settings.button_transform}};
                          letter-spacing:{{block.settings.ls_text}}px;
						  border:2px solid {{block.settings.border_cl}};
                        } 
                        .wrapper_caption #b_{{block.id}}.buttons:hover{
                          background-color:{{block.settings.cl_bg_hover}}; 
                          color:{{block.settings.cl_txt_hover}} ;
							border:2px solid {{block.settings.border_cl_hv}}
                        }
						@media (max-width: 1024px) {
                          .wrapper_caption #b_{{block.id}}.buttons{
                            margin:{{block.settings.mobile_mg}}; 
                            padding:{{block.settings.mobile_pd}};
                            font-size:{{block.settings.mobile_font_text}}px;		
                            font-weight:{{block.settings.mobile_fw_text}};
                          }	
                        }
			      {% when 'label' %}
                        .wrapper_caption #b_{{id}}.label > span{
                          background-color: {{block.settings.cl_bg}}; 
                          color:{{block.settings.cl_txt}}; 
                          font-size:{{block.settings.fs_text}}px; 
                          font-weight:{{block.settings.fw_text}};
                          text-transform:{{block.settings.button_transform}};
						  moz-transition: all .4s ease-in-out;
                          -o-transition: all .4s ease-in-out;
                          -webkit-transition: all .4s ease-in-out;
                          transition: all .4s ease-in-out;
                          display: inline-block;
                          transform: skew(-15deg);	
                          padding: 0 20px;
                          height: 30px;
                          line-height: 30px;
                        } 
						.wrapper_caption #b_{{id}}.label span span{
						    display: inline-block;
                            transform: skew(15deg);
						}	
				  {% when 'space' %}
					.wrapper_caption #b_{{block.id}}.slide_item_space{
						height:{{block.settings.sp}}px
					}
                    @media (max-width: 1199px) {
						.wrapper_caption #b_{{block.id}}.slide_item_space{
							height:{{block.settings.mobile_sp}}px
                        }
                    }
				{% when 'box' %}
					.wrapper_caption #b_{{block.id}}.slide_item_box .inside-box h2{
						text-transform:{{block.settings.title_transform}}; 
                        letter-spacing:{{block.settings.ls_title}}; 
                        {% if block.settings.lh_title >0 %}line-height:{{block.settings.lh_title}}px; {% endif %} 
                        font-size:{{block.settings.fs_title}}px; 
                        color:{{block.settings.color}}; 
                        font-weight:{{block.settings.fw_title}};
                    }
					.wrapper_caption #b_{{block.id}}.slide_item_box .inside-box  p{
                        text-transform:{{block.settings.contennt_transform}}; 
                        letter-spacing:{{block.settings.ls_text}}; 
                        {% if block.settings.lh_text >0 %}line-height:{{block.settings.lh_text}}px; {% endif %} 
                        font-size:{{block.settings.fs_text}}px; 
                        color:{{block.settings.color_content}}; 
                        font-weight:{{block.settings.fw_text}};
                    }
					.wrapper_caption #b_{{block.id}}.slide_item_box .inside-box  a{
                        text-transform:{{block.settings.btn_transform}}; 
                        letter-spacing:{{block.settings.ls_btn}}px;  
                        font-size:{{block.settings.fs_text_btn}}px; 
                        background-color:{{block.settings.cl_bg_btn}}; 
                        color:{{block.settings.cl_btn}}; 
						font-weight:{{block.settings.fw_text_btn}};
					}
            {%endcase%}
			
    	{%endfor%}
    {%- endif- %}
    @media (max-width: 1024px) {
        .hide_mobile{display:none;}
    }
{% endstyle%}
{% schema %}
  {
    "name": "Slideshow",   
	"max_blocks": 50,
	"class":"slideshow",
    "settings": [
		{
        "type": "header",
        "content": "---- Slider Show Collection ----",
        "info": "Refer to the attribute values [here](httpss://kenwheeler.github.io/slick)"
    },  
    {
        "type": "checkbox",
        "id": "use-slider",
        "label": "Use slider?",
        "default": true
    },
    {  
        "type": "range",  
        "id": "slides-To-Scroll",  
        "label": "Slide to scroll",  
        "info": "The number of items slide to scroll",
        "min": 1,
        "max": 8,
        "step": 1,
        "unit": "col",
        "default": 1
    },   
    {  
        "type": "range",  
        "id": "visible",  
        "label": "Columns in Visible",
        "info": "Item(s) in screen ( Size >= 1920 )",
        "min": 1,
        "max": 8,
        "step": 1,
        "unit": "col",
        "default": 1 
    },
    {  
        "type": "range",  
        "id": "widescreen",  
        "label": "Columns in Widescreen",
        "info": "Item(s) in screen ( 1366 <= Size < 1920 )",
        "min": 1,
        "max": 8,
        "step": 1,
        "unit": "col",
        "default": 1 
    },  
    {  
        "type": "range",  
        "id": "desktop",  
        "label": "Columns in Desktop",
        "info":  "Item(s) in screen ( 1200 <= Size < 1480 )",
        "min": 1,
        "max": 8,
        "step": 1,
        "unit": "col",
        "default": 1  
    },    
    {  
        "type": "range",  
        "id": "laptop",  
        "label": "Columns in Laptop",
        "info": "Item(s) in screen ( 992 <= Size < 1200 )",
        "min": 1,
        "max": 8,
        "step": 1,
        "unit": "col",
        "default": 1
    },    
    {  
        "type": "range",  
        "id": "notebook",  
        "label": "Columns in Notebook",
        "info": "Item(s) in screen ( 768 <= Size < 992 )",
        "min": 1,
        "max": 8,
        "step": 1,
        "unit": "col",
        "default": 1  
    },  
    {  
        "type": "range",  
        "id": "tablet",  
        "label": "Columns in Tablet",
        "info": "Item(s) in screen ( 576 <= Size < 768 )",
        "min": 1,
        "max": 8,
        "step": 1,
        "unit": "col",
        "default": 1 
    },
    {  
        "type": "range",  
        "id": "landscape",  
        "label": "Columns in Landscape",
        "info": "Item(s) in screen ( 480 <= Size < 576 )",
        "min": 1,
        "max": 6,
        "step": 1,
        "unit": "col",
        "default": 1 
    }, 
    {  
        "type": "range",  
        "id": "portrait",  
        "label": "Columns in Portrait",
        "info": "Item(s) in screen ( 360 < Size < 480 )",
        "min": 1,
        "max": 6,
        "step": 1,
        "unit": "col",
        "default": 1 
    },
    {  
        "type": "range",  
        "id": "mobile",  
        "label": "Columns in Mobile",
        "info": "Item(s) in screen ( Size < = 360 )",
        "min": 1,
        "max": 4,
        "step": 1,
        "unit": "col",
        "default": 1 
    },
    {  
        "type": "range",  
        "id": "rows",  
        "label": "Rows Slider",  
        "min": 1,
        "max": 3,
        "step": 1,
        "unit": "row",
        "default": 1
    },
    {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Autoplay",
        "default": true
    },
    {   
        "type": "text",
        "id": "speed",
        "label": "Speed",
        "default": "300",
        "info": "Autoplay Speed in milliseconds"
    },
    {   
        "type": "text",
        "id": "autoplay-Speed",
        "label": "Auto Play Speed",
        "default": "3000",
        "info": "Autoplay Speed in milliseconds"
    },
    {   
        "type": "checkbox",
        "id": "arrows",
        "label": "Arrows",
        "default": true
    },
    {   
        "type": "checkbox",
        "id": "fade",
        "label": "Fade",
        "default": false,
        "info": "Only use for 1 column"
    },
     {  
        "type": "checkbox",
        "id": "fade_zoom",
        "label": "Fade zoom",
        "default": false
    },     
    {   
        "type": "checkbox",
        "id": "center-Mode",
        "label": "Center Mode",
        "default": false
    },
    {   
        "type": "checkbox",
        "id": "adaptive-Height",
        "label": "Adaptive Height",
        "default": false
    },
    {   
        "type": "checkbox",
        "id": "dots",
        "label": "Dots",
        "default": false 
    },
    {   
        "type": "checkbox",
        "id": "infinite",
        "label": "Infinite",
        "default": false
    },
    {
        "type": "number",
        "id": "padding",
        "label": "Padding",
        "default": 0
    },
    {   
        "type": "checkbox",
        "id": "vertical",
        "label": "Vertical",
        "default": false
    },
          {
          "type": "select",
          "id": "style_dots",
          "default": "default",
          "options": [
           {
              "value": "default",
              "label": "Default"
           },
          {
          "value": "style1",
          "label": "Style 1"
          },
          {
          "value": "style2",
          "label": "Style 2"
          },
          {
          "value": "style3",
          "label": "Style 3"
          }
          
          ],
          "label": "Dots position"
        },
        {
          "type": "select",
          "id": "style_nav",
          "default": "default",
          "options": [
           {
              "value": "default",
              "label": "Default"
           },
           {
              "value": "square",
              "label": "Square"
            }
          ],
          "label": "Arrow style"
        },
        {
          "type": "select",
          "id": "position_nav",
          "default": "center",
          "options": [
			{
              "value": "left",
              "label": "Left"
           },
           {
              "value": "center",
              "label": "Center"
           },
           {
              "value": "right",
              "label": "Right"
            }
          ],
          "label": "Arrow position"
        },
		{
          "type": "header",
          "content": "== Design Options"
        },
		{
          "type": "select",
          "id": "layout",
          "default": "container",
          "options": [
           {
              "value": "container",
              "label": "Container"
           },
           {
              "value": "full-width",
              "label": "Full Width"
            }
          ],
          "label": "Layout"
        },
        {
          "type": "color",
          "id": "cl_bg",
          "label": "Background Color",
          "default": "#f5f5f5",
          "info": "only active when you use layout 'Container'"
        },
        
		{
          "type": "range",
          "id": "margin_top_slidershow",
          "label": "Margin top of this section",
          "min": 0,
          "max": 50,
          "step": 1,
          "default": 0
        },
        {
          "type": "range",
          "id": "margin_bottom_slidershow",
          "label": "Margin bottom of this section",
		  "min": 0,
          "max": 100,
          "step": 1,
          "default": 0
        },
		{
          "type": "header",
          "content": "== Margin mobile"
        },
		{
          "type": "range",
          "id": "margin_top_slidershow_mobile",
          "label": "Margin top of this section",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 0
        },
        {
          "type": "range",
          "id": "margin_bottom_slidershow_mobile",
          "label": "Margin bottom of this section",
		  "min": 0,
          "max": 100,
          "step": 1,
          "default": 0
        }
	],
	"blocks": [
      {
        "type": "img",
        "name": "Image slide (Parent)",
        "settings": [
          {
          "type": "color",
          "id": "cl_bg",
          "label": "Background Color",
          "default": "#f5f5f5",
		  "info":"If you don't use it, you can leave it blank"	
          },	
          {
            "type": "image_picker",
            "id": "image_sl",
            "label": "Image",			
			"info": "1170 x 550px .jpg recommended"
          },
		  {
            "type": "image_picker",
            "id": "image_sl_mobile",
            "label": "Image mobile",			
			"info": "480 x 480px .jpg recommended"
          },	
          {
            "type": "url",
            "id": "link_img",
            "label": "Link image",
            "info": "The image becomes clickable."
          },
          {
            "type": "select",
            "id": "open_link",
            "options": [
              {
                "value": "_self",
                "label": "Current window (_self)"
              },
             {
                "value": "_blank",
                "label": "New window (_blank)"
              }
            ],
            "label": "Open link in",
            "default": "_blank"
          },          
          {
             "type": "header",
             "content": "== Caption settings"
           },
          {
            "type": "select",
            "id": "caption_w",
            "default": "2",
            "options": [
             {
                "value": "1",
                "label": "Container"
             },
             {
                "value": "2",
                "label": "Full Width"
              }
            ],
            "label": "Caption Width"
          },          
          {
            "type": "select",
            "id": "h_position",
            "label": "Horizontal Position",
            "default": "center",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
			{
            "type": "select",
            "id": "v_position",
            "label": "Vertical Position",
            "default": "middle",
            "options": [
              {
              "value": "top",
              "label": "Top"
              },
              {
              "value": "middle",
              "label": "Middle"
              },
              {
              "value": "bottom",
              "label": "Bottom"
              }
            ]
          },
          {
            "type": "select",
            "id": "txt_align",
            "label": "Text alignment",
            "default": "center",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },          
          {
            "type": "header",
            "content": "== Color"
          },
          {
            "type": "color",
            "id": "cl_overlay",
            "label": "Overlay",
            "default": "#111"
          },
          {
            "type": "range",
            "id": "cl_opacity",
            "label": "Overlay opacity",
            "default": 100,
            "min": 0,
            "max": 100,
            "step": 10,
            "unit": "%"
          },          
          {
            "type": "select",
            "id": "ani_txt",
            "label": "Text position",
            "default": "top_bottom",
            "options": [              
              {
                "value": "bottom_top",
                "label": "Bottom to top"
              },
              {
                "value": "top_bottom",
                "label": "Top to bottom"
              },
              {
                "value": "left_right",
                "label": "Left to right"
              },
              {
                "value": "right_left",
                "label": "Right to left"
              }
            ]
          }
        ]
      },
      {
      "type": "hd",
      "name": "Heading",
      "settings": [
          {
          "type": "checkbox",
          "id": "hide",
          "label": "Hidden ?",
          "default": false
          },	
          {
            "type": "textarea",
            "id": "title",
            "label": "Heading",
            "default": "Inner beauty out",
			"info":"Insert <br> to line break"
          },         
          {
            "type": "color",
            "id": "color",
            "label": "Color Text",
            "default": "#111"
          },
			{
              "type": "select",
              "id": "text_animate",
              "default": "none",
              "options": [
               {
                  "value": "none",
                  "label": "None"
               },
               {
                  "value": "bounceIn",
                  "label": "bounceIn"
               },
               {
                  "value": "fadeInDown",
                  "label": "fadeInDown"
               },
				{
                  "value": "zoomIn",
                  "label": "zoomIn"
               },
				{
                  "value": "slideInLeft",
                  "label": "slideInLeft"
               },
				{
                  "value": "flipInX",
                  "label": "flipInX"
               },
				{
                  "value": "slideInRight",
                  "label": "slideInRight"
               },
				{
                  "value": "fadeInLeft",
                  "label": "fadeInLeft"
               },
               {
                  "value": "fadeInRight",
                  "label": "fadeInRight"
                }
              ],
              "label": "Animate"
            },
          {
            "type": "range",
            "id": "fw_text",
            "min": 300,
            "max": 800,
            "step": 100,
            "label": "Font weight",
            "default": 600
          },
          {
            "type": "range",
            "id": "fs_text",
            "min": 20,
            "max": 150,
            "step": 10,
            "label": "Font size",
            "unit": "px",
            "default": 60
          },
          {
            "type": "range",
            "id": "lh_text",
            "min": 0,
            "max": 100,
            "step": 1,
            "label": "Line Height",
            "info": "set is '0' use to default",
            "unit": "px",
            "default": 0
          },
          {
            "type": "range",
            "id": "ls_text",
            "min": 0,
            "max": 10,
            "step": 0.1,
            "label": "Letter spacing",
            "info": "set is '0' use to default",
            "unit": "px",
            "default": 0
          },
          {
              "type": "select",
              "id": "text_transform",
              "default": "none",
              "options": [
               {
                  "value": "none",
                  "label": "None"
               },
               {
                  "value": "capitalize",
                  "label": "Capitalize"
               },
               {
                  "value": "lowercase",
                  "label": "Lowercase"
               },
               {
                  "value": "uppercase",
                  "label": "Uppercase"
                }
              ],
              "label": "Text transform:"
            },    
			{
            "type": "header",
            "content": "== Font Family by design"
            },   
			{
              "type": "header",
              "content": "Highlight settings"              
            },
		    {
              "type": "checkbox",
              "id": "first_mark",
              "label": "Highlight first word ?",
              "default": false
            },
            {
              "type": "checkbox",
              "id": "last_mark",
              "label": "Highlight last word ?",
              "default": false
            },
            {
              "type": "text",
              "id": "custom_mark",
              "label": "Custom position",
              "info": "Separator is '|'. Example: 1|2|3 "              
            },
            {
            "type": "header",
            "content": "== mobile Settings"
            },
            {
              "type": "range",
              "id": "mobile_fw_text",
              "min": 400,
              "max": 800,
              "step": 100,
              "label": "Font weight",
              "default": 600
            },
			{
              "type": "range",
              "id": "mobile_font_text",
              "min": 14,
              "max": 60,
              "step": 1,
              "label": "Font size",
              "unit": "px",
              "default": 14
            }
        ]
      },
      {
        "type": "subhd",
        "name": "Sub Heading",
        "settings": [
            
            {
              "type": "textarea",
              "id": "title",
              "label": "Heading",
              "default": "bringing you",
			  "info":"Insert <br> to line break"
            },			
            {
              "type": "select",
              "id": "text_animate",
              "default": "none",
              "options": [
               {
                  "value": "none",
                  "label": "None"
               },
               {
                  "value": "bounceIn",
                  "label": "bounceIn"
               },
               {
                  "value": "fadeInDown",
                  "label": "fadeInDown"
               },
				{
                  "value": "zoomIn",
                  "label": "zoomIn"
               },
				{
                  "value": "fadeInLeft",
                  "label": "fadeInLeft"
               },
				{
                  "value": "slideInLeft",
                  "label": "slideInLeft"
               },
				{
                  "value": "flipInX",
                  "label": "flipInX"
               },
				{
                  "value": "slideInRight",
                  "label": "slideInRight"
               },
               {
                  "value": "fadeInRight",
                  "label": "fadeInRight"
                }
              ],
              "label": "Animate"
            },
            {
              "type": "color",
              "id": "color",
              "label": "Color Text",
              "default": "#111"
            },
			{
              "type": "color",
              "id": "bg_text",
              "label": "background Text",
              "default": "#111"
            },
			{
              "type": "text",
              "id": "pd",
              "label": "Padding",
              "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank",
			  "default": "5px 10px 5px 10px",
              "placeholder": "50px 50px,"
            },
			{
              "type": "text",
              "id": "br_button",
              "label": "border radius",
              "info":"border-radius, If you not use to blank",
              "default": "3px 3px",
              "placeholder": "50px 50px,"
            },
            {
              "type": "range",
              "id": "fw_text",
              "min": 400,
              "max": 800,
              "step": 100,
              "label": "Font weight",
              "default": 500
            },
            {
              "type": "range",
              "id": "fs_text",
              "min": 10,
              "max": 50,
              "step": 0.5,
              "label": "Font size",
              "unit": "px",
              "default": 17
            },
            {
              "type": "range",
              "id": "lh_text",
              "min": 0,
              "max": 100,
              "step": 1,
              "label": "Line Height",
              "info": "set is '0' use to default",
              "unit": "px",
              "default": 0
            },
            {
              "type": "range",
              "id": "ls_text",
              "min": 0,
              "max": 10,
              "step": 0.1,
              "label": "Letter spacing",
              "info": "set is '0' use to default",
              "unit": "px",
              "default": 3
            },  
			{
              "type": "select",
              "id": "text_transform",
              "default": "uppercase",
              "options": [
               {
                  "value": "none",
                  "label": "None"
               },
               {
                  "value": "capitalize",
                  "label": "Capitalize"
               },
               {
                  "value": "lowercase",
                  "label": "Lowercase"
               },
               {
                  "value": "uppercase",
                  "label": "Uppercase"
                }
              ],
              "label": "Text transform:"
            },
            {
              "type": "checkbox",
              "id": "hide",
              "label": "Hidden ?",
              "default": false
            },
            {
              "type": "header",
              "content": "Highlight settings"              
            },
		    {
              "type": "checkbox",
              "id": "first_mark",
              "label": "Highlight first word ?",
              "default": false
            },
            {
              "type": "checkbox",
              "id": "last_mark",
              "label": "Highlight last word ?",
              "default": false
            },
            {
              "type": "text",
              "id": "custom_mark",
              "label": "Custom position",
              "info": "Separator is '|'. Example: 1|2|3 "              
            },
            {
            "type": "header",
            "content": "== mobile Settings"
            },
            {
              "type": "range",
              "id": "mobile_fw_text",
              "min": 400,
              "max": 800,
              "step": 100,
              "label": "Font weight",
              "default": 500
            },
			{
              "type": "range",
              "id": "mobile_font_text",
              "min": 14,
              "max": 60,
              "step": 1,
              "label": "Font size",
              "unit": "px",
              "default": 14
            }
          ]
      },
      {
        "type": "txt",
        "name": "Content",
        "settings": [
            {
              "type": "textarea",
              "id": "title",
              "label": "Content",
              "default": "Massaged or scrubbed with a particular aromatherapy essentail oil, cream, lotion or mineral.",
			  "info":"Insert <br> to line break"
        
            },
            {
              "type": "color",
              "id": "color",
              "label": "Color Text",
              "default": "#111"
            },
			{
              "type": "select",
              "id": "text_animate",
              "default": "none",
              "options": [
               {
                  "value": "none",
                  "label": "None"
               },
               {
                  "value": "bounceIn",
                  "label": "bounceIn"
               },
               {
                  "value": "fadeInDown",
                  "label": "fadeInDown"
               },
				{
                  "value": "zoomIn",
                  "label": "zoomIn"
               },
				{
                  "value": "slideInLeft",
                  "label": "slideInLeft"
               },
				{
                  "value": "flipInX",
                  "label": "flipInX"
               },
				{
                  "value": "slideInRight",
                  "label": "slideInRight"
               },
				{
                  "value": "fadeInLeft",
                  "label": "fadeInLeft"
               },
               {
                  "value": "fadeInRight",
                  "label": "fadeInRight"
                }
              ],
              "label": "Animate"
            },
            {
              "type": "range",
              "id": "fw_text",
              "min": 400,
              "max": 800,
              "step": 100,
              "label": "Font weight",
              "default": 400
            },
            {
              "type": "range",
              "id": "fs_text",
              "min": 10,
              "max": 50,
              "step": 0.5,
              "label": "Font size",
              "unit": "px",
              "default": 14
            },
            {
              "type": "range",
              "id": "lh_text",
              "min": 0,
              "max": 100,
              "step": 1,
              "label": "Line Height",
              "info": "set is '0' use to default",
              "unit": "px",
              "default": 0
            },
            {
              "type": "range",
              "id": "ls_text",
              "min": 0,
              "max": 10,
              "step": 0.1,
              "label": "Letter spacing",
              "info": "set is '0' use to default",
              "unit": "px",
              "default": 0
            },            
            {
              "type": "checkbox",
              "id": "hide",
              "label": "Hidden ?",
              "default": false
            },
            {
            "type": "checkbox",
            "id": "hide_mobile",
            "label": "Hidden monbile ?",
            "default": false
            },
			{
            "type": "header",
            "content": "== mobile Settings"
            },
            {
              "type": "range",
              "id": "mobile_fw_text",
              "min": 400,
              "max": 800,
              "step": 100,
              "label": "Font weight",
              "default": 600
            },
			{
              "type": "range",
              "id": "mobile_font_text",
              "min": 14,
              "max": 60,
              "step": 1,
              "label": "Font size",
              "unit": "px",
              "default": 14
            }
          ]
      },
	  {
        "type": "label",
        "name": "Label",
        "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "Label",
              "default": "New"
            },                              
            {
              "type": "color",
              "id": "cl_txt",
              "label": "Text color",
              "default": "#fff"
            },
            {
              "type": "color",
              "id": "cl_bg",
              "label": "Background color",
              "default": "#111"
            },
            
            {
              "type": "range",
              "id": "fs_text",
              "min": 10,
              "max": 40,
              "step": 0.5,
              "label": "Font size",
              "unit": "px",
              "default": 14
            },
            {
              "type": "range",
              "id": "fw_text",
              "min": 400,
              "max": 700,
              "step": 100,
              "label": "Font weight",
              "default": 700
            },
			{
              "type": "select",
              "id": "button_transform",
              "default": "none",
              "options": [
               {
                  "value": "none",
                  "label": "None"
               },
               {
                  "value": "capitalize",
                  "label": "Capitalize"
               },
               {
                  "value": "lowercase",
                  "label": "Lowercase"
               },
               {
                  "value": "uppercase",
                  "label": "Uppercase"
                }
              ],
              "label": "Text transform:"
            },
            {
              "type": "range",
              "id": "ls_text",
              "min": 0,
              "max": 10,
              "step": 0.1,
              "label": "Letter spacing",
              "info": "set is '0' use to default",
              "unit": "px",
              "default": 1
            },
			{
            "type": "header",
            "content": "== mobile Settings"
            },
            {
              "type": "range",
              "id": "mobile_fw_text",
              "min": 400,
              "max": 800,
              "step": 100,
              "label": "Font weight",
              "default": 600
            },
           	{
              "type": "range",
              "id": "mobile_font_text",
              "min": 14,
              "max": 60,
              "step": 1,
              "label": "Font size",
              "unit": "px",
              "default": 14
            },
            {
              "type": "text",
              "id": "mobile_mg",
              "label": "Margin",
              "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank",
              "default": "0px 0px 0px 0px",
              "placeholder": "50px 50px,"
            },
            {
              "type": "text",
              "id": "mobile_pd",
              "label": "Padding",
              "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank",
			  "default": "15px 32px 10px 32px",
              "placeholder": "50px 50px,"
            }

          ]
      },	
      {
        "type": "btn",
        "name": "Button",
        "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "Button label",
              "default": "Shop now"
            },
            {
              "type": "url",
              "id": "btn_link",
              "label": "Button link",
			  "info": "Note: if you want to display this button then you need to fill button link"
            },                               
            {
              "type": "color",
              "id": "cl_txt",
              "label": "Text color",
              "default": "#fff"
            },
            {
              "type": "color",
              "id": "cl_txt_hover",
              "label": "Text color hover",
              "default": "#fff"
            },
            {
              "type": "color",
              "id": "cl_bg",
              "label": "Background color",
              "default": "#111"
            },
            {
              "type": "color",
              "id": "cl_bg_hover",
              "label": "Background color hover",
              "default": "#f26460"
            },
			{
              "type": "color",
              "id": "border_cl",
              "label": "Border color",
              "default": "#111"
            },
			{
              "type": "color",
              "id": "border_cl_hv",
              "label": "Border color hover",
              "default": "#111"
            },
			{
              "type": "select",
              "id": "text_animate",
              "default": "none",
              "options": [
               {
                  "value": "none",
                  "label": "None"
               },
               {
                  "value": "bounceIn",
                  "label": "bounceIn"
               },
               {
                  "value": "fadeInDown",
                  "label": "fadeInDown"
               },
				{
                  "value": "slideInLeft",
                  "label": "slideInLeft"
               },
				{
                  "value": "flipInX",
                  "label": "flipInX"
               },
				{
                  "value": "slideInRight",
                  "label": "slideInRight"
               },
				{
                  "value": "zoomIn",
                  "label": "zoomIn"
               },
				{
                  "value": "fadeInLeft",
                  "label": "fadeInLeft"
               },
               {
                  "value": "fadeInRight",
                  "label": "fadeInRight"
                }
              ],
              "label": "Animate"
            },
            {
              "type": "range",
              "id": "fs_text",
              "min": 10,
              "max": 40,
              "step": 0.5,
              "label": "Font size",
              "unit": "px",
              "default": 14
            },
            {
              "type": "range",
              "id": "fw_text",
              "min": 400,
              "max": 700,
              "step": 100,
              "label": "Font weight",
              "default": 700
            },
			{
              "type": "select",
              "id": "button_transform",
              "default": "none",
              "options": [
               {
                  "value": "none",
                  "label": "None"
               },
               {
                  "value": "capitalize",
                  "label": "Capitalize"
               },
               {
                  "value": "lowercase",
                  "label": "Lowercase"
               },
               {
                  "value": "uppercase",
                  "label": "Uppercase"
                }
              ],
              "label": "Text transform:"
            },
			{
              "type": "text",
              "id": "br_button",
              "label": "border radius",
              "info":"border-radius, If you not use to blank",
              "default": "3px 3px",
              "placeholder": "50px 50px,"
            },
            {
              "type": "text",
              "id": "mg",
              "label": "Margin",
              "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank",
              "default": "0px 0px 0px 0px",
              "placeholder": "50px 50px,"
            },
            {
              "type": "text",
              "id": "pd",
              "label": "Padding",
              "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank",
			  "default": "15px 32px 10px 32px",
              "placeholder": "50px 50px,"
            },
            {
              "type": "text",
              "id": "icon_button",
              "label": "icon Font",
              "info":"icon Font. If you not use to blank",
			  "default": "<i class=\"lnr lnr-arrow-right\"></i>",
              "placeholder": "50px 50px,"
            },
            {
              "type": "range",
              "id": "ls_text",
              "min": 0,
              "max": 10,
              "step": 0.1,
              "label": "Letter spacing",
              "info": "set is '0' use to default",
              "unit": "px",
              "default": 1.1
            },
			{
            "type": "header",
            "content": "== mobile Settings"
            },
            {
              "type": "range",
              "id": "mobile_fw_text",
              "min": 400,
              "max": 800,
              "step": 100,
              "label": "Font weight",
              "default": 600
            },
           	{
              "type": "range",
              "id": "mobile_font_text",
              "min": 14,
              "max": 60,
              "step": 1,
              "label": "Font size",
              "unit": "px",
              "default": 14
            },
            {
              "type": "text",
              "id": "mobile_mg",
              "label": "Margin",
              "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank",
              "default": "0px 0px 0px 0px",
              "placeholder": "50px 50px,"
            },
            {
              "type": "text",
              "id": "mobile_pd",
              "label": "Padding",
              "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank",
			  "default": "15px 32px 10px 32px",
              "placeholder": "50px 50px,"
            }

          ]
      },
      {
        "type": "box",
        "name": "Information box",
        "settings": [			
            {
			  "type": "header",
              "content": "Title settings"
			},
            {
              "type": "text",
              "id": "title",
              "label": "Title",
              "default": "Natural cosmetics"
            },
            {
              "type": "color",
              "id": "color",
              "label": "Color title",
              "default": "#111"
            },
            {
              "type": "range",
              "id": "fw_title",
              "min": 400,
              "max": 800,
              "step": 100,
              "label": "Font weight",
              "default": 600
            },
            {
              "type": "range",
              "id": "fs_title",
              "min": 10,
              "max": 80,
              "step": 1,
              "label": "Font size",
              "unit": "px",
              "default": 60
            },
            {
              "type": "range",
              "id": "lh_title",
              "min": 0,
              "max": 100,
              "step": 1,
              "label": "Line Height",
              "info": "set is '0' use to default",
              "unit": "px",
              "default": 0
            },
            {
              "type": "range",
              "id": "ls_title",
              "min": 0,
              "max": 10,
              "step": 0.1,
              "label": "Letter spacing",
              "info": "set is '0' use to default",
              "unit": "px",
              "default": 0
            },  
			{
              "type": "select",
              "id": "title_transform",
              "default": "none",
              "options": [
               {
                  "value": "none",
                  "label": "None"
               },
               {
                  "value": "capitalize",
                  "label": "Capitalize"
               },
               {
                  "value": "lowercase",
                  "label": "Lowercase"
               },
               {
                  "value": "uppercase",
                  "label": "Uppercase"
                }
              ],
              "label": "Title transform:"
            },
            {
			  "type": "header",
              "content": "Content settings"
			},
            {
              "type": "textarea",
              "id": "content",
              "label": "Content",
              "default": "Best treatment for curing stubborn whiteheads<br>  your skin loves it",
			  "info":"Insert <br> to line break"        
            },
            {
              "type": "color",
              "id": "color_content",
              "label": "Color Text",
              "default": "#111"
            },
            {
              "type": "range",
              "id": "fw_text",
              "min": 400,
              "max": 800,
              "step": 100,
              "label": "Font weight",
              "default": 500
            },
            {
              "type": "range",
              "id": "fs_text",
              "min": 10,
              "max": 50,
              "step": 0.5,
              "label": "Font size",
              "unit": "px",
              "default": 18
            },
            {
              "type": "range",
              "id": "lh_text",
              "min": 0,
              "max": 100,
              "step": 1,
              "label": "Line Height",
              "info": "set is '0' use to default",
              "unit": "px",
              "default": 0
            },
            {
              "type": "range",
              "id": "ls_text",
              "min": 0,
              "max": 10,
              "step": 0.1,
              "label": "Letter spacing",
              "info": "set is '0' use to default",
              "unit": "px",
              "default": 0
            },
            {
              "type": "select",
              "id": "contennt_transform",
              "default": "none",
              "options": [
               {
                  "value": "none",
                  "label": "None"
               },
               {
                  "value": "capitalize",
                  "label": "Capitalize"
               },
               {
                  "value": "lowercase",
                  "label": "Lowercase"
               },
               {
                  "value": "uppercase",
                  "label": "Uppercase"
                }
              ],
              "label": "Content transform:"
            },
            {
			  "type": "header",
              "content": "Button settings"
			},
			{
              "type": "text",
              "id": "button_text",
              "label": "Button",
              "default": "Shop now"
            },
            {
              "type": "url",
              "id": "btn_link",
              "label": "Button link",
			  "default":"/",
			  "info": "Note: if you want to display this button then you need to fill button link"
            },            
            {
              "type": "color",
              "id": "cl_btn",
              "label": "Button color",
              "default": "#fff"
            },
            {
              "type": "color",
              "id": "cl_bg_btn",
              "label": "Background color",
              "default": "#f26460"
            },           
            {
              "type": "range",
              "id": "fs_text_btn",
              "min": 10,
              "max": 40,
              "step": 0.5,
              "label": "Font size",
              "unit": "px",
              "default": 14
            },
            {
              "type": "range",
              "id": "fw_text_btn",
              "min": 400,
              "max": 700,
              "step": 100,
              "label": "Font weight",
              "default": 700
            },
			{
              "type": "range",
              "id": "ls_btn",
              "min": 0,
              "max": 10,
              "step": 0.1,
              "label": "Letter spacing",
              "info": "set is '0' use to default",
              "unit": "px",
              "default": 2
            },
            {
              "type": "select",
              "id": "btn_transform",
              "default": "uppercase",
              "options": [
               {
                  "value": "none",
                  "label": "None"
               },
               {
                  "value": "capitalize",
                  "label": "Capitalize"
               },
               {
                  "value": "lowercase",
                  "label": "Lowercase"
               },
               {
                  "value": "uppercase",
                  "label": "Uppercase"
                }
              ],
              "label": "Button transform:"
            }
          ]
      },
      {
        "type": "space",
        "name": "Space between",
        "settings": [
			{
            "type": "checkbox",
            "id": "hide_mobile",
            "label": "Hidden monbile ?",
            "default": false
            },
            {
              "type": "range",
              "id": "sp",
              "min": 0,
              "max": 105,
              "step": 5,
              "label": "Space",
              "unit": "px",
              "default": 10
            },
            {
              "type": "header",
              "content": "== mobile Settings"
            }, 
            {
            "type": "range",
            "id": "mobile_sp",
            "min": 0,
            "max": 105,
            "step": 5,
            "label": "Space ",
            "unit": "px",
            "default": 10
            }
            
          ]
      }
	],
    "presets": [{
      "name": "1. Slideshow","category": "Images","settings": {},
	  "blocks": [{ "type": "img" },{ "type": "img" }
	  ]
    }]
  }
{% endschema %}

