{%- liquid
    assign id = section.id
    assign section_blocks = section.blocks  
    assign layout = section.settings.layout
    assign arr_col = section_blocks | where: "type", "col" 
    assign row_num =section.settings.row_num
    assign col_pr =section.settings.col_pr |plus:0
    assign max_count = col_pr | times: row_num
    
    if col_pr == 5
    	assign col = 15
    else
    	assign col = 12 | divided_by: col_pr
    endif
    
  -%}
  
{%- for i in (1..1) -%}
<section class="laber_tab_products_{{id}}">
  <div class="container {%if layout == 'full-width' %}{{layout}}{%endif%}">
    {% if section.settings.title != blank or section.settings.sub_title!= blank %}
		<div class="wrap_title ">
          
		  {% if section.settings.sub_title!= blank %}
		  <span class="section-subtitle">{{section.settings.sub_title}}</span>
		  {% endif %}
          
          {% if section.settings.title != blank %}
		  <h3 class="section-title">{{section.settings.title}}</h3>  
		  {% endif %}
          
          
          {% if section.settings.content!= blank %}
		  <div class="content">{{section.settings.content}}</div>
		  {% endif %}
          
		</div>
      {% endif %} 
    <div class="products-arrivals">
      {%- if arr_col.size > 0 -%} 
            
              <div class="tabcontent">
                <div class="tab-products" data-sorting-collections-control="">
                  <div class="display-mobile section_heading">
                    <span>{{'sections.tab.you_are_in' | t}}	</span>
                    <div class="js_sr_txt"></div>
                  </div>
                  <ul>
                  {%- for block in arr_col -%}
                    
                    <li>
                      <a href="{{ collections[block.settings.collection].url }}"{% if section.blocks.size > 1 %}{% if forloop.index == 1 %} class="active"{% endif %}{% endif %} data-collection="{{ collections[block.settings.collection].handle }}">
                        {% if block.settings.title != blank %}
                        	{% assign somearray = block.settings.title | split: ' ' %} 
                            {% for item in somearray %}
                                <span>{{item}}</span>
                            {%endfor%}
                        {% else %}
                          {{ collections[block.settings.collection].title }}
                        {% endif %}
                      </a>
                    </li>
 
                  {%- endfor -%}
                  </ul>
                </div>
              </div>
              <div class="sorting-collections" data-sorting-collections-ajax="">
              <div class="ajax_load "><div class="circle-loadding"><span></span></div></div> 
              <div class="section-content">
                {% capture grid %}col-xs-6 col-sm-6 col-md-4 col-lg-{{ col }}{% endcapture %}
                {%- for block in arr_col limit: 1 -%}
                  <div class="sorting-collections__products pr_center row" data-sorting-collections-items data-limit="{{ max_count }}" data-grid="{{ grid }}">                
                    {%- if block.settings.collection != blank -%}
                        {%- assign products = collections[block.settings.collection].products -%}
                        {%- capture url_cat -%}{% if collection %}/collections/{{collections[collection].handle}}{% endif %}{%- endcapture -%}
                        {%- for product in products limit: max_count -%}
                          {% assign pr_hd = product.handle %}
                          <div data-lazy-product-load class="productLazyload {{ grid }} lazyload" data-include="{{url_cat}}/products/{{pr_hd}}/?view=pr_lazy_load">                      
								
                          </div>
                        {%- endfor -%}
                    {%- else -%}
                      {%- for i in (1..max_count ) -%}
                       <div class="grid__item col-xs-12 col-sm-6 col-md-4 col-lg-{{ col }} ">
                        <div class="product-inner">
                          <div class="product-image">
                              <a href="/admin/products" class="product__image-wrapper">
                                  {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                                  {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                              </a>
                          </div>
                        </div>
                        <div class="product-info">
                          <div class="product__title"><a href="/admin/products">{{ 'homepage.onboarding.product_title' | t | capitalize }}</a></div>
                          <div class="product__price">$19.99</div>
                        </div>
                      </div>
                      {%- endfor -%} 
                    {%- endif -%}
                  </div>
                {%- endfor -%}
              </div>
              {%if section.settings.show_view_all %}
                    <div class="bn_button viewall text-center"><a href="/collections/all">{{'collections.general.view_all' |t}} <i class="icon-arrow-right" aria-hidden="true"></i></a></div>
              {%endif%}
            </div>
        
      {%- else -%}
      		{% render 'no-blocks' with message: 'homepage.onboarding.no_content' %}        
      {%- endif -%}
    </div>
  </div>
</section>
{%- endfor -%}

{% style%}
	.laber_tab_products_{{id}}{
		
		margin-top:{{section.settings.mg_top}}px;
        margin-bottom:{{section.settings.mg_bottom}}px;
        padding-top:{{section.settings.pd_top}}px;
		padding-bottom:{{section.settings.pd_bottom}}px;
		background-color: {{section.settings.cl_bg}};
		
	}
    @media (max-width: 767px) {
      .laber_tab_products_{{id}}{

          margin-top:{{section.settings.mobile_mg_top}}px;
          margin-bottom:{{section.settings.mobile_mg_bottom}}px;
          padding-top:{{section.settings.mobile_pd_top}}px;
          padding-bottom:{{section.settings.mobile_pd_bottom}}px;

      }
    }
{% endstyle%}


{%- schema -%}
  {
    "name": "Tab Products grid", 
    "class": "cms_section tab-product type_tab_collection product_section tab_product grid-style",
    "max_blocks": 10,
    "settings": [
      {
        "type": "header",
        "content": "== Title Settings"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "New arrivals"
      },
      {
        "type": "text",
        "id": "sub_title",
        "label": "Sub Text"
      },  
	  {
        "type": "textarea",
        "id": "content",
        "label": "Content",
        "default": "Commodo sociosqu venenatis cras dolor sagittis integer luctus maecenas."
      },
      {
        "type": "header",
        "content": "== General Settings"
      },
	  {
        "type": "select",
        "id": "col_pr",
        "label": "Product per row",
        "info": "How many product you want to show per row (Layout design is grid)",
        "default": "4",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          }
        ]
      },  
	  {
        "type": "range",
        "id": "row_num",
        "min": 1,
        "max": 10,
        "step": 1,
        "label": "Row number",
		"info": "Number of rows you want to display (Layout design is grid)",
        "default": 2
      },	
	  {
        "type": "checkbox",
        "id": "show_view_all",
        "label":"Show View all button",
        "default": false
      },          
      {
        "type": "header",
        "content": "== Design Options"
      },      
      {
        "type": "select",
        "id": "layout",
        "default": "container",
        "options": [
         {
            "value": "container",
            "label": "Container"
         },
         {
            "value": "full-width",
            "label": "Full Width"
          }
        ],
        "label": "Layout"
      },
      {
        "type": "color",
        "id": "cl_bg",
        "label": "Background color",
        "default": "#fff"
      },
      {
        "type": "header",
        "content": "== Margin",
		"info":"Margin top, Margin bottom. If you not use to blank"
      },
      {
        "type": "range",
        "id": "mg_top",
        "label": "Margin top",
        "default": 30,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "mg_bottom",
        "label": "Margin bottom",
        "default": 30,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px"
      },
	  {
        "type": "header",
        "content": "== padding",
		"info":"padding top, padding bottom. If you not use to blank"
      },
      {
        "type": "range",
        "id": "pd_top",
        "label": "padding top",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "pd_bottom",
        "label": "padding bottom",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px"
      },
	  {
        "type": "header",
        "content": "== Setting mobile",
		"info":"Padding and Margin"
      },
	 {
        "type": "range",
        "id": "mobile_mg_top",
        "label": "Margin top",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "mobile_mg_bottom",
        "label": "Margin bottom",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px"
      },
	  {
        "type": "range",
        "id": "mobile_pd_top",
        "label": "Padding top",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "mobile_pd_bottom",
        "label": "Padding bottom",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px"
      }
    ],
    "blocks": [
      {
        "type": "col",
        "name": "Collection",
        "limit": 10,
        "settings": [          
            {
              "type": "textarea",
              "id": "title",
              "label": "Title"
            },
            {
              "type": "collection",
              "id": "collection",
              "label": "Collection"
            }
        ]
      }
      
    ],
    "presets": [
      {
        "name": "Tab Products grid",
        "category": "Collections",
        "blocks": [
          {
            "type": "col"
          },
          {
            "type": "col"
          },
          {
            "type": "col"
          }          
        ]
      }
    ]
  }
{% endschema %}
